.section.boards {
    width: 100%;
    transform: translateY(-5.15vw);
    padding-top: 17.847vw;
    transition: background-color 300ms v(ease-in-out-quad);

    @include max(md) {
        padding-top: 32.422vw;
        transform: translateY(-6.510vw);
    }

    @include max(md) {
        padding-top: 38.133vw;
        transform: translateY(0);
    }
}