.section.boards {
    width: 100%;
    transform: translateY(-4.75vw);
    padding-top: 17.847vw;
    transition: background-color 300ms v(ease-in-out-quad);

    @include min(xl) {
        padding-top: calc(200px + 4.75vw);
    }

    @include max(md) {
        padding-top: 26.042vw;
        transform: translateY(-7.8vw);
    }

    @include max(sm) {
        padding-top: 38.133vw;
        transform: translateY(0);
    }
}