.section.boards {
    width: 100%;
    margin: 10.417vw auto;
    transition: background-color 300ms v(ease-in-out-quad);

    @include max(sm) {
        margin: 0 auto;
        padding: 26.667vw auto;
    }
}