.feed {
    margin-bottom: 10.417vw;
    position: relative;
    overflow: hidden;

    @include min(xl) {
        padding-top: 200px;
    }

    @include max(md) {
        padding-top: 26.042vw;
    }

    @include max(sm) {
        padding-top: 38.400vw;
    }

    .section-background {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        pointer-events: none;
        background-size: cover;
        background-position: center;
        transition: opacity 500ms v(ease-in-out-quart);
        opacity: 0;

        &.visible {
            opacity: 1;
        }

        .gradient {
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to bottom, rgba(10, 10, 10, 1) 45%, rgba(255, 255, 255, 0));
        }
    }

    .phone-slider {
        @include flexCenter();
        justify-content: space-between;
        flex-direction: row;
        margin: 6.250vw auto 0 auto;
        max-width: v(large-wrapper);

        @include min(xl) {
            margin: 90px auto 0 auto;
        }

        @include max(md) {
            margin: 11.719vw auto 0 auto;
        }

        @include max(sm) {
            margin: 18.4vw auto 44vw auto;
        }

        .slider-controls {
            transform: translateY(-2.375vw);

            @include max(md) {
                transform: translateY(-3.9vw);
            }

            @include max(sm) {
                @include flexCenter();
                position: absolute;
                justify-content: space-between;
                bottom: 19vw;
                width: calc(100% - 12.8vw);
            }

            .prev, .next {
                width: 4.444vw;
                height: 4.444vw;
                max-height: 64px;
                max-width: 64px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border-radius: 10px;
                outline: none;
                position: relative;
                user-select: none;

                &:active:before {
                    transform: scale3d(0.95, 0.95, 1);
                }

                img {
                    width: 25%;
                }

                @include max(md) {
                    width: 7.292vw;
                    height: 7.292vw;
                }

                @include max(sm) {
                    width: 9.6vw;
                    height: 9.6vw;

                    img {
                        width: 4.267vw;
                        height: 2.933vw;
                    }
                }

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: v(white-color);
                    border-radius: 6px;
                    opacity: 0.2;
                    z-index: -1;
                    transition: transform 100ms v(ease-in-out-quad);
                }

                &.prev {
                    @include max(sm) {
                        transform: rotate(-90deg);
                    }
                }

                &.next {
                    margin-top: 1.667vw;
                    transform: rotate(180deg);

                    @include min(xl) {
                        margin-top: 24px;
                    }

                    @include max(md) {
                        margin-top: 5.208vw;
                    }

                    @include max(sm) {
                        margin-top: 0;
                        transform: rotate(90deg);
                    }
                }
            }
        }

        .phone-component {
            border-color: v(white-color);

            @include max(sm) {
                margin: auto;
            }

            .swiper-wrapper {
                height: 100%;
                transition-timing-function: v(ease-in-out-quart);

                .screen {
                    pointer-events: none;
                    user-select: none;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }

        .slider-pagination {
            border: 3px solid rgba(white, 0.1);
            border-radius: 100px;
            overflow: hidden;
            transform: translate3d(0, -2.375vw, 0);

            @include max(md) {
                transform: translate3d(0, -3.9vw, 0);
            }

            @include max(sm) {
                display: inline-flex;
                position: absolute;
                bottom: 16vw;
                left: 0;
                right: 0;
                margin: auto;
                max-width: 61.867vw;
            }

            .thumb {
                width: 5.139vw;
                height: 5.139vw;
                cursor: pointer;
                overflow: hidden;
                background-color: black;
                -webkit-mask-image: -webkit-radial-gradient(white, black);

                @include min(xl) {
                    max-width: 100px;
                    max-height: 100px;
                }

                @include max(md) {
                    width: 9.635vw;
                    height: 9.635vw;
                }

                @include max(sm) {
                    width: 100%;
                    height: 14.933vw;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    opacity: 0.5;
                    transition: opacity 500ms v(ease-in-out-quart);
                }

                &.active {
                    img {
                        opacity: 1;
                    }
                }
            }
        }
    }
}