.feel-the-content {
    padding-top: 13.125vw;
    border-top: 1px solid v(dark-grey);
    position: relative;
    overflow: hidden;

    @include max(md) {
        padding-top: 26.042vw;
    }

    @include max(sm) {
        padding-top: 38.400vw;
    }

    .section-background {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        pointer-events: none;
        background-size: cover;
        background-position: center;
        transition: opacity 500ms v(ease-in-out-quart);
        opacity: 0;

        &.visible {
            opacity: 1;
        }

        .gradient {
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to bottom, rgba(10, 10, 10, 1) 45%, rgba(255, 255, 255, 0));
        }
    }

    .phone-slider {
        @include flexCenter();
        justify-content: space-between;
        flex-direction: row;
        margin: 6.250vw auto 0 auto;
        max-width: v(large-wrapper);

        @include max(md) {
            margin: 11.719vw auto 0 auto;
        }

        @include max(sm) {
            margin: 18.4vw auto 57.067vw auto;
        }

        .slider-controls {
            @include max(sm) {
                @include flexCenter();
                position: absolute;
                justify-content: space-between;
                bottom: 23.5vw;
                width: calc(100% - 12.8vw);
            }
            .prev, .next {
                width: 5.139vw;
                height: 5.139vw;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border-radius: 10px;
                outline: none;
                position: relative;
                user-select: none;

                @include max(md) {
                    width: 7.292vw;
                    height: 7.292vw;
                }

                @include max(sm) {
                    width: 9.6vw;
                    height: 9.6vw;

                    img {
                        width: 4.267vw;
                        height: 2.933vw;
                    }
                }

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    backdrop-filter: blur(10px);
                    border-radius: 6px;
                    z-index: -1;
                }

                &.prev {
                    @include max(sm) {
                        transform: rotate(-90deg);
                    }
                }

                &.next {
                    margin-top: 2.222vw;
                    transform: rotate(180deg);

                    @include max(md) {
                        margin-top: 5.208vw;
                    }

                    @include max(sm) {
                        margin-top: 0;
                        transform: rotate(90deg);
                    }
                }
            }
        }

        .phone-component {
            @include max(sm) {
                margin: auto;
            }
            .swiper-wrapper {
                height: 100%;
                transition-timing-function: v(ease-in-out-quart);

                .screen {
                    pointer-events: none;
                    user-select: none;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        .slider-pagination {
            border: 3px solid rgba(white, 0.1);
            border-radius: 100px;
            overflow: hidden;

            @include max(sm) {
                display: inline-flex;
                position: absolute;
                bottom: 19.733vw;
                left: 0;
                right: 0;
                margin: auto;
                max-width: 61.867vw;
            }

            .thumb {
                width: 5.139vw;
                height: 5.139vw;
                background: black;

                @include max(md) {
                    width: 9.635vw;
                    height: 9.635vw;
                }

                @include max(sm) {
                    width: 100%;
                    height: 14.933vw;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    opacity: 0.5;
                    transition: opacity 300ms ease;
                }

                &.active {
                    img {
                        opacity: 1;
                    }
                }
            }
        }
    }
}