.feel-the-content {
    padding-top: 13.125vw;
    border-top: 1px solid v(dark-grey);
    position: relative;
    overflow: hidden;

    .section-background {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        pointer-events: none;
        background-size: cover;
        filter: blur(50px);
        transition: all 500ms v(ease-in-out-quart);

        .gradient {
            width: 100%;
            height: 100%;
        }
    }

    .phone-slider {
        @include flexCenter();
        justify-content: space-between;
        flex-direction: row;
        margin: 6.250vw auto 0 auto;
        max-width: 71.389vw;

        .slider-controls {
            .prev, .next {
                width: 5.139vw;
                height: 5.139vw;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border-radius: 10px;
                outline: none;
                position: relative;
                user-select: none;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: v(white);
                    opacity: 0.1;
                    border-radius: 6px;
                }

                &.next {
                    margin-top: 2.222vw;
                    transform: rotate(180deg);
                }
            }
        }

        .phone {
            height: 58.403vw;
            width: 27.222vw;
            border: 5px solid v(dark-grey);
            border-radius: 40px;
            overflow: hidden;
            z-index: 1;

            .swiper-wrapper {
                height: 100%;
                transition-timing-function: v(ease-in-out-quart);

                .screen {
                    pointer-events: none;
                    user-select: none;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        .slider-pagination {
            border: 3px solid rgba(white, 0.1);
            border-radius: 100px;
            overflow: hidden;

            .thumb {
                width: 5.139vw;
                height: 5.139vw;
                background: black;


                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    opacity: 0.5;
                    transition: opacity 300ms ease;
                }

                &.active {
                    img {
                        opacity: 1;
                    }
                }
            }
        }
    }
}