.section.footer {
    background: v(app-gradient);

    @include min(xl) {
        margin: 0 auto 94px auto;
    }

    @include max(md) {
        border-top: 0;
        max-width: 91.667vw;
        margin: 0 auto 25.130vw auto;
    }

    @include max(sm) {
        max-width: 100%;
        margin: 0 auto 20.800vw auto;
        padding: 0 6.400vw;
    }

    footer {
        padding: 10.417vw 0 8.125vw 0;
        .texts {
            opacity: 0;
            transition: opacity 350ms v(ease-in-out-quart);

            &.in-view {
                opacity: 1;
            }
        }

        .form-wrapper {
            margin-top: 6.181vw;

            @include min(xl) {
                margin-top: 100px;
            }

            @include max(md) {
                margin-top: 7.031vw;
            }

            @include max(sm) {
                margin-top: 14.667vw;
            }

            form {
                width: 100%;
                display: flex;
                justify-content: space-between;

                @include max(sm) {
                    flex-direction: column;
                    justify-content: unset;
                }

                input {
                    width: 25.625vw;

                    @include max(md) {
                        width: calc(100% / 3);
                    }

                    @include max(sm) {
                        width: 100%;
                        height: 14.933vw;
                    }

                    &:nth-of-type(2) {
                        margin: 0 2.222vw;

                        @include min(xl) {
                            margin: 0 32px;
                        }

                        @include max(md) {
                            margin: 0 2.083vw;
                        }

                        @include max(sm) {
                            margin: 0;
                        }
                    }

                    &:not(:first-child) {
                        @include max(sm) {
                            margin-top: 4.267vw;
                        }
                    }
                }

                button {
                    width: 15.625vw;

                    @include max(md) {
                        width: calc(100% / 3);
                    }

                    @include max(sm) {
                        margin-top: 4.267vw;
                        width: 100%;
                    }
                }
            }
        }
    }
}