.section.footer {
    border-top: 1px solid #3B3B3B;
    max-width: v(xl-wrapper);
    margin: 0 auto 6.528vw auto;

    @include max(md) {
        border-top: 0;
        max-width: 91.667vw;
        margin: 0 auto 25.130vw auto;
    }

    @include max(sm) {
        max-width: 100%;
        margin: 0 auto 20.800vw auto;
        padding: 0 6.400vw;
    }

    footer {
        margin-top: 13.264vw;

        @include max(md) {
            margin-top: 25.781vw;
        }

        @include max(sm) {
            margin-top: 40vw;
        }

        .texts {
            color: v(whiteColor);
            text-align: center;
            max-width: 58.472vw;
            margin: auto;
            opacity: 0;
            transition: opacity 350ms v(ease-in-out-quart);

            @include max(md) {
                max-width: 300%;
            }

            &.in-view {
                opacity: 1;
            }

            h3 {
                @include proximaExtraBold(6.250vw, 6.250vw);

                @include max(md) {
                    font-size: 10.417vw;
                    line-height: 10.417vw;
                }

                @include max(sm) {
                    font-size: 12.800vw;
                    line-height: 15.467vw;
                }
            }

            p {
                max-width: 39.792vw;
                margin: 1.597vw auto 0 auto;
                @include proximaRegular(1.806vw, 2.778vw);

                @include max(md) {
                    max-width: 68.099vw;
                    margin-top: 4.167vw;
                    font-size: 2.865vw;
                    line-height: 4.167vw;
                }

                @include max(sm) {
                    max-width: 100%;
                    margin-top: 6.933vw;
                    font-size: 4.800vw;
                    line-height: 7.200vw;
                }
            }
        }

        .form-wrapper {
            margin-top: 6.181vw;

            @include max(md) {
                margin-top: 7.031vw;
            }

            @include max(sm) {
                margin-top: 14.667vw;
            }

            form {
                width: 100%;
                display: flex;
                justify-content: space-between;

                @include max(sm) {
                    flex-direction: column;
                    justify-content: unset;
                }

                input {
                    width: 32.917vw;

                    @include max(md) {
                        width: calc(100% / 3);
                    }

                    @include max(sm) {
                        width: 100%;
                        height: 14.933vw;
                    }

                    &:nth-of-type(2) {
                        margin: 0 2.222vw;

                        @include max(md) {
                            margin: 0 2.083vw;
                        }

                        @include max(sm) {
                            margin: 0;
                        }
                    }

                    &:not(:first-child) {
                        @include max(sm) {
                            margin-top: 4.267vw;
                        }
                    }
                }

                button {
                    width: 15.764vw;

                    @include max(md) {
                        width: calc(100% / 3);
                    }

                    @include max(sm) {
                        margin-top: 4.267vw;
                        width: 100%;
                    }
                }
            }
        }
    }
}