.section.footer {
    background: v(app-gradient);

    footer {
        padding: 200px 100px 64px 100px;
		text-align: center;

		@include min(xl) {
			max-width: 80%;
			margin: auto;
			padding-left: 0;
			padding-right: 0;
		}

        @include max(md) {
            padding: 128px 48px 48px 48px;
			text-align: left;
        }

        @include max(sm) {
            padding: 64px 24px 24px 24px;
        }

        h2 {
			color: white;
			max-width: 95%;
    		margin: auto;

			@include min(xl) {
				max-width: 65%;
			}

			@include max(md) {
				max-width: 100%;
			}
		}

		.download-app {
			@include flexCenter();
			justify-content: center;
			margin-top: 64px;

			@include max(md) {
				justify-content: flex-start;
			}

			@include max(sm) {
				margin-top: 32px;
			}

			.store-button {
				&:last-child {
					opacity: 0.2;
					margin-left: 32px;
					pointer-events: none;

					@include max(sm) {
						margin-left: 5px;
					}
				}

				@include max(md) {
					img {
						object-position: left;
					}
				}
			}
		}
    }
}
