.section.footer {
    background: v(app-gradient);

    @include min(xl) {
        margin: 0 auto 94px auto;
    }

    footer {
        padding: 10.417vw 0 8.125vw 0;

        @include max(sm) {
            padding: 26.667vw 0 13.333vw 0;
        }

        .texts {
            opacity: 0;
            transition: opacity 350ms v(ease-in-out-quart);

            &.in-view {
                opacity: 1;
            }

            svg {
                width: 4.444vw;
                height: 4.444vw;
                overflow: visible;

                @include max(sm) {
                    width: 17.067vw;
                    height: 17.067vw;
                }
            }

            .section-header-component {
                margin-top: 2.083vw;

                @include max(sm) {
                    margin-top: 13.333vw;
                }
            }
        }

        .form-wrapper {
            margin-top: 6.181vw;

            @include min(xl) {
                margin-top: 100px;
            }

            @include max(sm) {
                margin-top: 13.333vw;
            }

            form {
                width: 100%;
                display: flex;
                justify-content: space-between;

                @include max(sm) {
                    flex-direction: column;
                    justify-content: unset;
                }

                input {
                    width: 25.625vw;

                    @include max(sm) {
                        width: 100%;
                    }

                    &:first-child {
                        @include max(sm) {
                            font-family: "Geomanist-Bold";
                        }
                    }

                    &:last-of-type {
                        @include max(sm) {
                            margin-top: 4.267vw;
                        }
                    }
                }

                button {
                    width: 15.625vw;

                    @include max(md) {
                        width: calc(100% / 3);
                    }

                    @include max(sm) {
                        margin-top: 4.267vw;
                        width: 100%;
                    }
                }
            }
        }
    }
}