.section.footer {
    background: v(app-gradient);

    footer {
        padding: 10.417vw 0;

        @include max(md) {
            padding: 18.519vw 0;
        }

        @include max(sm) {
            padding: 26.667vw 0 13.333vw 0;
        }

        .texts {
            svg {
                width: 4.444vw;
                height: 4.444vw;
                overflow: visible;

                @include max(sm) {
                    width: 17.067vw;
                    height: 17.067vw;
                }
            }

            .section-header-component {
                .section-header-content {
                    max-width: 44.444vw;

                    @include max(md) {
                        max-width: 74.568vw;
                    }
                }
            }
        }

        .form-wrapper {
            margin-top: 6.181vw;

            @include max(md) {
                margin-top: 3.086vw;
            }

            @include max(sm) {
                margin-top: 13.333vw;
            }

            form {
                width: 100%;
                display: flex;
                justify-content: space-between;

                @include max(sm) {
                    flex-direction: column;
                    justify-content: unset;
                }

                .input-component {
                    width: 25.625vw;

                    @include max(md) {
                        width: 100%;
                    }

                    &:nth-of-type(2) {
                        margin: 0 1.111vw;

                        @include max(md) {
                            margin: 0 1.975vw;
                        }
                    }
                    &:last-of-type {
                        @include min(xl) {
                            margin: 0 16px;
                        }
                        @include max(sm) {
                            margin-top: 4.267vw;
                        }
                    }
                }

                button {
                    width: 15.625vw;

                    @include max(md) {
                        width: 17.037vw;
                    }

                    @include max(sm) {
                        margin-top: 4.267vw;
                        width: 100%;
                    }
                }
            }
        }
    }
}