.section.interactive-modules {
    margin: 10.417vw 0;

    @include max(md) {
        margin-top: 18.519vw;
    }

    @include max(sm) {
        margin: 26.667vw 0;
    }

    .timer-slider-wrapper {
        margin-top: 5.208vw;

        @include max(md) {
            margin-top: 7.654vw;
        }

        @include max(sm) {
            margin-top: 13.333vw;
        }

        .phone-component {
            margin-left: auto;

            @include max(md) {
                margin: 0;
            }
        }
    }
}