.section.interactive-modules {
    @include max(sm) {
        margin: 0 0 100px 0;
    }

    .section-header-component {
        .section-header-content {
            max-width: 43vw;

            @include max(md) {
                max-width: 100%;
            }
        }
    }

    .timer-slider-wrapper {
        margin-top: 5.208vw;

        @include max(md) {
            margin-top: 54px;
        }

        @include max(sm) {
            margin-top: 50px;
            flex-direction: column;
        }

        .phone-component {
            @include max(md) {
                margin: 0;
            }
        }
    }
}
