.section.interactive-modules {
    margin-top: 6.667vw;

    @include max(md) {
        margin-top: 24.870vw;
    }

    @include max(sm) {
        margin-top: 38.133vw;
    }

    .subtitle-component {
        @include proximaBold(2.222vw, 3.333vw);
        color: v(white);
        text-align: center;

        @include max(md) {
            font-size: 3.646vw;
            line-height: 6.250vw;
        }

        @include max(sm) {
            font-size: 6.400vw;
            line-height: 9.600vw;
        }
    }

    .modules {
        margin-top: 5.417vw;

        @include max(md) {
            margin-top: 10.286vw;
        }

        @include max(sm) {
            margin-top: 18.400vw;
        }

        .modules-components {
            margin: 1.736vw auto 0 auto;
            max-width: 86.250vw;

            @include max(md) {
                margin: 3.125vw auto 0 auto;
                max-width: 87.109vw;
            }

            @include max(sm) {
                margin: 5.600vw auto 0 auto;
                max-width: 100%;
                padding: 0 6.400vw;
            }

            .row {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }

            .before-after-wrapper, .simple-slider-wrapper {
                width: calc(50% - 1.042vw);

                @include max(md) {
                    width: calc(50% - 1.953vw);
                }

                @include max(md) {
                    width: 100%
                }
            }

            .component-name {
                margin-top: 1.319vw;
                @include proximaBold(1.111vw, 1.667vw);
                color: v(white);
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 1px;

                @include max(md) {
                    margin-top: 1.432vw;
                    font-size: 2.083vw;
                    line-height: 3.125vw;
                }

                @include max(sm) {
                    margin-top: 2.933vw;
                    font-size: 3.733vw;
                    line-height: 5.600vw;
                }
            }

            .panorama-wrapper {
                width: 100%;
                margin-top: 6.32vw;

                @include max(md) {
                    margin-top: 6.120vw;
                }

                @include max(sm) {
                    margin-top: 11.733vw;
                }
            }
        }

        .compositions-wrapper {
            margin: 5.625vw auto 0 auto;
            max-width: v(xl-wrapper);

            @include max(md) {
                max-width: 100%;
                margin: 10.547vw auto 0 auto;
                padding: 0 6.510vw;
            }

            @include max(sm) {
                max-width: 100%;
                margin: 18.933vw auto 0 auto;
                padding: 0 6.400vw;
            }

            .compositions-list {
                display: flex;
                justify-content: space-between;
                margin-top: 1.736vw;

                @include max(md) {
                    flex-wrap: wrap;
                    margin-top: 0;
                }

                .composition {
                    width: 19.861vw;
                    height: 19.861vw;

                    @include max(md) {
                        width: calc(50% - 2.0835vw);
                        height: 41.406vw;
                        margin-top: 4.167vw;
                    }

                    @include max(sm) {
                        margin-top: 8.533vw;
                        width: 100%;
                        height: 87.200vw;
                    }
                }

                &:last-child {
                    margin-top: 2.222vw;

                    @include max(md) {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}