.section.interactive-modules {
    margin: 10.417vw 0;

    @include min(xl) {
        margin-top: 200px;
    }

    @include max(md) {
        margin-top: 24.870vw;
    }

    @include max(sm) {
        margin-top: 38.133vw;
    }

    .timer-slider-wrapper {
        flex-direction: row-reverse;

        @include max(md) {
            flex-direction: column;
        }

        .phone-component {
            margin-left: auto;

            @include max(md) {
                margin: 0;
            }
        }
    }
}