.section.profile-example {
    background: v(black);
    width: 100%;
    padding-top: 17.847vw;
    max-width: 86.111vw;
    margin: auto;

    .profile-example-nav {
        @include flexCenter();
        justify-content: space-between;
        margin-top: 2.778vw;

        &.center {
            justify-content: center;
            margin-top: 3.125vw;
        }

        .item {
            @include flexCenter();
            height: 4.861vw;
            border: 1px solid #222222;
            border-radius: 4px;
            color: v(white);
            padding: 0 3.472vw;
            cursor: pointer;

            .icon {
                width: 1.667vw;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .text {
                @include proximaBold(1.111vw, 1.667vw);
                text-transform: uppercase;
                margin-left: 2.014vw;
            }
        }
    }

    .more-examples {
        @include flexCenter();
        justify-content: center;

        .button {
            height: 4.861vw;
            border: 1px solid #222222;
            border-radius: 4px;
            color: v(white);
            padding: 0 3.472vw;
        }
    }

    .profile-phones {
        margin-top: 6.944vw;

        .phones-wrapper {
            @include flexCenter();
            justify-content: center;
            position: relative;

            .phone-component {
                position: relative;

                &:nth-of-type(2) {
                    margin: 0 2.222vw;
                }

                .video-wrapper {
                    position: absolute;
                    top:0;
                    width: 100%;
                    height: 35.7%;

                    video {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .layer-wrapper {
                    position: absolute;
                    height: 100%;
                    width: 100%;

                    .hero, .middle, .bottom {
                        width: 100%;
                        background: v(black);
                        opacity: 0;
                        transition: opacity 300ms v(ease-in-out-quad);

                        &.active {
                            opacity: 0.6;
                        }
                    }

                    .hero {
                        height: 35.7%;
                    }

                    .middle {
                        height: 39%;
                    }

                    .bottom {
                        height: calc(100% - (39% + 35.7%));
                    }
                }
            }
        }
    }
}