
.profile-example-nav {
    @include flexCenter();
    justify-content: space-between;
    margin-top: 2.778vw;

    @include max(md) {
        flex-direction: column;
        margin-top: 6.120vw;
    }

    @include max(sm) {
        padding: 0 6.4vw;
        margin-top: 12.8vw;
    }

    &.center {
        justify-content: center;
        margin-top: 3.125vw;

        @include max(md) {
            display: none;
        }
    }

    .item {
        @include flexCenter();
        justify-content: center;
        position: relative;
        height: 4.861vw;
        border: 1px solid #222222;
        border-radius: v(app-radius);
        color: v(whiteColor);
        padding: 0 1.667vw;
        cursor: pointer;
        transition: opacity 300ms v(ease-in-out-quad);

        &:nth-child(2) {
            margin: 0 2.222vw;
        }

        &:not(.load-more) {
            width: 100%;
            @include max(sm) {
                pointer-events: none;
            }
        }

        &:before {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: v(app-radius);
            background: white;
            transform: scale3d(1, 0, 1);
            transform-origin: bottom;
            z-index: 0;
            transition: transform 300ms v(ease-in-out-quad);
        }

        &:hover {
            color: v(blackColor);

            svg path {
                fill: v(blackColor);
            }

            &:before {
                transform: scale3d(1, 1, 1);
            }
        }

        &.load-more {
            .icon {
                transition: transform 500ms v(ease-in-out-quart) 100ms;
            }
        }

        &.disabled {
            user-select: none;
            pointer-events: none;
            opacity: 0.5;
        }

        @include max(md) {
            justify-content: center;
            width: 47.135vw;
            height: 7.813vw;
            padding: 0;

            &:not(:first-child) {
                margin-top: 3.125vw;
            }
        }

        @include max(sm) {
            width: 100%;
            height: 16vw;
        }

        .icon {
            width: 1.667vw;
            height: 100%;
            position: relative;
            z-index: 1;

            @include max(md) {
                width: 3.125vw;
            }

            @include max(sm) {
                width: 6.400vw;
            }

            svg, img {
                width: 100%;
                height: 100%;

                path {
                    transition: fill 300ms v(ease-in-out-quad);
                }
            }
        }

        .text {
            @include proximaBold(1.111vw, 1.667vw);
            text-transform: uppercase;
            margin-left: 2.014vw;
            position: relative;
            z-index: 1;
            transition: color 300ms v(ease-in-out-quad);

            @include max(md) {
                font-size: 2.083vw;
                line-height: 3.125vw;
                margin-left: 3.255vw;
            }

            @include max(sm) {
                font-size: 3.733vw;
                line-height: 5.600vw;
                margin-left: 6.133vw;
            }
        }
    }
}