.section.profile-example {
    background: v(blackColor);
    width: 100%;
    padding-top: 17.847vw;
    max-width: v(xl-wrapper);
    margin: auto;

    @include max(md) {
        padding-top: 25.521vw;
        max-width: 100%;
    }

    @include max(sm) {
        padding-top: 39.200vw;
    }

    .more-examples {
        @include flexCenter();
        justify-content: center;

        .button {
            height: 4.861vw;
            border: 1px solid #222222;
            border-radius: v(app-radius);
            color: v(whiteColor);
            padding: 0 3.472vw;
        }
    }

    .profile-phones {
        margin-top: 6.944vw;

        @include max(md) {
            margin-top: 13.021vw;
            overflow: scroll;
            display: flex;
            @include noScrollBar();
        }

        .phones-wrapper {
            @include flexCenter();
            justify-content: center;
            position: relative;
            transition: opacity 300ms ease;

            &.fade-out {
                opacity: 0;
            }

            @include max(md) {
                display: inline-flex;

                &:first-child {
                    margin-left: 6.510vw;
                }
            }

            @include max(sm) {
                &:first-child {
                    margin-left: 6.400vw;
                }
            }

            .phone-component {
                position: relative;

                &:nth-of-type(2) {
                    margin: 0 2.222vw;

                    @include max(md) {
                        margin: 0 2.734vw;
                    }

                    @include max(sm) {
                        margin: 0 8.533vw;
                    }
                }

                @include max(md) {
                    &:last-child{
                        margin-right: 2.734vw;
                    }
                }

                @include max(sm) {
                    &:last-child{
                        margin-right: 8.533vw;
                    }
                }

                .video-wrapper {
                    position: absolute;
                    top:0;
                    width: 100%;
                    height: 35.7%;

                    video {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .layer-wrapper {
                    position: absolute;
                    height: 100%;
                    width: 100%;

                    @include max(sm) {
                        display: none;
                    }

                    .hero, .middle, .bottom {
                        width: 100%;
                        background: v(blackColor);
                        opacity: 0;
                        transition: opacity 300ms v(ease-in-out-quad);

                        &.active {
                            opacity: 0.6;
                        }
                    }

                    .hero {
                        height: 35.7%;
                    }

                    .middle {
                        height: 39%;
                    }

                    .bottom {
                        height: calc(100% - (39% + 35.7%));
                    }
                }
            }
        }
    }
}