
.profile-example-nav {
    @include flexCenter();
    justify-content: space-between;
    margin-top: 2.778vw;

    @include min(xl) {
        width: 72%;
        margin: 50px auto 0 auto;
    }

    @include max(md) {
        display: none;
    }

    &.center {
        justify-content: center;
        margin-top: 3.125vw;

        @include min(xl) {
            margin-top: 50px;
        }

        @include max(md) {
            display: none;
        }
    }

    .item {
        @include flexCenter();
        justify-content: center;
        position: relative;
        height: 4.861vw;
        border: 1px solid #222222;
        border-radius: v(app-radius);
        color: v(white-color);
        padding: 0 1.667vw;
        cursor: pointer;
        transition: opacity 300ms v(ease-in-out-quad);

        &:nth-child(2) {
            margin: 0 2.222vw;

            @include min(xl) {
                margin: 0 32px;
            }
        }

        &:not(.load-more) {
            width: 100%;
        }

        &:before {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: v(app-radius);
            background: white;
            transform: scale3d(1, 0, 1);
            transform-origin: bottom;
            z-index: 0;
            transition: transform 300ms v(ease-in-out-quad);
        }

        &:hover {
            color: v(black-color);

            svg path {
                fill: v(black-color);
            }

            &:before {
                transform: scale3d(1, 1, 1);
            }
        }

        &.load-more {
            .icon {
                transition: transform 500ms v(ease-in-out-quart) 100ms;
            }
        }

        &.disabled {
            user-select: none;
            pointer-events: none;
            opacity: 0.5;
        }

        @include min(xl) {
            height: 90px;
        }

        .icon {
            width: 1.667vw;
            height: 100%;
            position: relative;
            z-index: 1;

            @include min(xl) {
                width: 32px;
            }

            svg, img {
                width: 100%;
                height: 100%;

                path {
                    transition: fill 300ms v(ease-in-out-quad);
                }
            }
        }

        .text {
            @include proximaBold(1.111vw, 1.667vw);
            text-transform: uppercase;
            margin-left: 2.014vw;
            position: relative;
            z-index: 1;
            transition: color 300ms v(ease-in-out-quad);

            @include min(xl) {
                font-size: 18px;
                margin-left: 29px;
            }
        }
    }
}