.section.profiles {
    margin: 10.417vw 0;

    @include max(md) {
        margin-top: 24.870vw;
    }

    @include max(sm) {
        margin: 26.667vw 0;
    }

    .timer-slider-wrapper {
        margin-top: 5.208vw;
        flex-direction: row-reverse;

        @include max(md) {
            flex-direction: column;
        }

        @include max(sm) {
            margin-top: 13.333vw;
        }

        .phone-component {
            margin-left: auto;

            @include max(md) {
                margin: 0;
            }
        }
    }
}