.section.profile-example {
    width: 100%;
    padding: 10.417vw 0;
    background: v(app-gradient);

    @include max(md) {
        padding-top: calc(26.042vw - 7.8vw);
        max-width: 100%;
    }

    @include max(sm) {
        padding: 26.667vw 0;
    }
}