.section.profiles {
    margin: 160px 0;

    @include max(md) {
        margin: 0 0 128px 0;
    }

    @include max(sm) {
        margin: 100px 0;
    }

    .timer-slider-wrapper {
        margin-top: 70px;
        flex-direction: row-reverse;

        @include max(md) {
            flex-direction: column;
            margin-top: 40px;
        }

		.timer-slider-navigation {
			margin-left: 0;
		}

        .phone-component {
            @include max(md) {
                margin: 0;
            }
        }
    }
}
