.section.testimonials {
    background: v(app-gradient);
    padding: 10.417vw 0;

    @include max(sm) {
        padding: 26.667vw 0;
    }

    .testimonials-wrapper {
        @include max(md) {
            position: relative;
        }

        @include max(sm) {
            margin-top: 13.333vw;
        }

        .swiper-wrapper {
            display: inline-flex;
            justify-content: space-between;

            @include max(md) {
                display: inline-flex;
                flex-wrap: nowrap;
            }
        }
    }
}