.section.testimonials {
	margin-bottom: 160px;

	@include max(md) {
		margin-bottom: 128px;
	}

	@include max(sm) {
		margin-bottom: 100px;
	}

	.swiper-wrapper {
		display: inline-flex;
	}

	.single-testimonial {
		padding: 32px;
		border-radius: 16px;
		background-color: v(testimonial-bg-color);
		transition: background-color 500ms ease;

		&:hover {
			background-color: v(testimonial-bg-color-hover);
		}

		.quote-icon {
			@include flexCenter();
    		justify-content: center;
			width: 40px;
			height: 40px;
			background: white;
			border-radius: 50%;
			padding: 13px 11px;

			@include min(xl) {
				width: 60px;
				height: 60px;
			}

			img {
				width: 100%;
				height: 100%;

				@include min(xl) {
					max-width: 20px;
					height: auto;
				}
			}
		}

		.testimonial-content {
			margin-top: 32px;
		}

		.testimonial-footer {
			@include flexCenter();
			margin-top: 32px;

			.testimonial-user-pic {
				width: 64px;
				height: 64px;

				@include min(xl) {
					width: 80px;
					height: 80px;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.testimonial-user-infos {
				margin-left: 24px;

				span {
					display: block;

					&:last-child {
						margin-top: 8px;
					}
				}
			}
		}
	}

	.testimonial-navigation {
		margin-top: 40px;
		@include flexCenter();

		@include max(md) {
			display: none;
		}

		.prev, .next {
			outline: none;
			cursor: pointer;

			&.swiper-button-disabled {
				svg path {
					opacity: 0.2;
				}
			}
		}

		svg {
			path {
				fill: #0A0A0A;
				transition: fill 300ms ease, opacity 300ms ease;
			}
		}

		.next {
			margin-left: 32px;

			svg {
				transform: rotate(180deg);
			}
		}
	}
}
