.section.testimonials {
    margin: 14.028vw auto 13.889vw auto;
    max-width: v(medium-wrapper);

    @include max(md) {
        margin: 26.172vw auto 0 auto;
        max-width: 86.979vw;
    }

    @include max(sm) {
        margin: 39.733vw auto 0 auto;
        max-width: calc(100% - 6.4vw);
    }

    .testimonials-wrapper {
        margin-top: 6.25vw;

        @include max(md) {
            position: relative;
            margin-top: 12.760vw;
            overflow: hidden;
        }

        @include max(sm) {
            margin-top: 17.067vw;
            padding: 0 3.2vw;
        }

        .swiper-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @include max(md) {
                display: inline-flex;
                flex-wrap: nowrap;
            }

            @include min(md) {
                transform: translate3d(0, 0, 0) !important;
            }
        }

        .slider-controls {
            justify-content: space-between;
            max-width: 14.583vw;
            width: 100%;
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: v(black);
            display: none;

            @include max(md) {
                @include flexCenter();
            }

            @include max(sm) {
                right: 6.400vw;
                max-width: 25.867vw;
                align-items: flex-end;
                bottom: 2.667vw;
            }

            .prev, .next {
                @include flexCenter();
                justify-content: center;
                width: 4.688vw;
                height: 4.688vw;
                border-radius: v(app-radius);
                background: #222222;
                transform: rotate(-90deg);
                outline: none;
                transition: opacity 300ms ease;

                &.swiper-button-disabled {
                    opacity: 0.5;
                }

                @include max(sm) {
                    width: 9.600vw;
                    height: 9.600vw;
                }

                img {
                    width: 2.083vw;
                }

                &.next {
                    transform: rotate(90deg);
                }
            }
        }
    }
}