/* FONTS DECLARATION */
@include font-face('Geomanist', 'Bold');
@include font-face('Geomanist', 'Medium');
@include font-face('Geomanist', 'Regular');
@include font-face('Geomanist', 'Ultra');

@mixin geomanistBold($size: 0.875vw, $lineHeight: normal, $letterSpacing: 0) {
	font-family: "Geomanist-Bold";
	font-size: $size;
	line-height: $lineHeight;
	letter-spacing: $letterSpacing;
}

@mixin geomanistMedium($size: 0.875vw, $lineHeight: normal, $letterSpacing: 0) {
	font-family: "Geomanist-Medium";
	font-size: $size;
	line-height: $lineHeight;
	letter-spacing: $letterSpacing;
}

@mixin geomanistRegular($size: 0.875vw, $lineHeight: normal, $letterSpacing: 0) {
	font-family: "Geomanist-Regular";
	font-size: $size;
	line-height: $lineHeight;
	letter-spacing: $letterSpacing;
}

@mixin geomanistUltra($size: 0.875vw, $lineHeight: normal, $letterSpacing: 0) {
	font-family: "Geomanist-Ultra";
	font-size: $size;
	line-height: $lineHeight;
	letter-spacing: $letterSpacing;
}

.bigText {
    @include geomanistUltra(8.056vw, 8.750vw);

	@include min(xl) {
        font-size: 160px;
        line-height: 170px;
    }

    @include max(md) {
        font-size: 14.321vw;
        line-height: 15.556vw;
    }

    @include max(sm) {
        font-size: 52px;
        line-height: 62px;
    }
}

.mediumText {
    @include geomanistUltra(4.167vw, 4.861vw);

	@include min(xl) {
        font-size: 72px;
        line-height: 82px;
    }

    @include max(md) {
        font-size: 7.813vw;
        line-height: 9.115vw;
    }

    @include max(sm) {
        font-size: 10.667vw;
        line-height: 13.333vw;
    }
}

.quoteText {
	@include geomanistBold(2.222vw, 2.917vw);

	@include min(xl) {
		font-size: 36px;
		line-height: 48px;
	}

	@include max(md) {
		font-size: 4.167vw;
		line-height: 5.469vw;
	}

	@include max(sm) {
		font-size: 7.467vw;
		line-height: 10.133vw;
	}
}

.labelUpper {
    @include geomanistBold(12px, 24px);
    letter-spacing: 2px;
    text-transform: uppercase;

    @include min(xl) {
        font-size: 16px;
    }
}

.bodyRegular {
    @include geomanistRegular(1.111vw, 1.667vw);

    @include min(xl) {
        font-size: 20px;
    }

    @include max(md) {
        font-size: 1.975vw;
        line-height: 2.963vw;
    }

    @include max(sm) {
        font-size: 3.733vw;
        line-height: 4.800vw;
    }
}

.bodyRegularLG {
    @include geomanistRegular(1.389vw, 2.083vw);

    @include min(xl) {
        font-size: 28px;
    }

    @include max(md) {
        font-size: 2.963vw;
        line-height: 4.444vw;
    }

    @include max(sm) {
        font-size: 5.867vw;
        line-height: 8.800vw;
    }
}

.header2 {
    @include geomanistBold(2.222vw, 2.917vw);

    @include min(xl) {
        font-size: 48px;
        line-height: 58px;
    }

    @include max(md) {
        font-size: 4.167vw;
        line-height: 5.469vw;
    }

    @include max(sm) {
        font-size: 7.467vw;
        line-height: 10.133vw;
    }
}

.header3 {
    @include geomanistBold(1.389vw, 1.667vw);

    @include min(xl) {
        font-size: 28px;
        line-height: 30px;
    }

    @include max(md) {
        font-size: 2.469vw;
        line-height: 2.963vw;
    }

    @include max(sm) {
        font-size: 5.333vw;
        line-height: 8vw;
    }
}

.header5 {
    @include geomanistBold(0.833vw, 1.667vw);
    letter-spacing: 2px;

    @include min(xl) {
        font-size: 18px;
    }

    @include max(md) {
        font-size: 1.481vw;
        line-height: 2.963vw;
    }

    @include max(sm) {
        font-size: 3.200vw;
        line-height: 6.400vw;
    }
}
