.input-component {
	color: white;
	padding: 0 1.111vw;
    border-radius: 16px;
    min-width: 19.861vw;
    height: 3.889vw;
    background-color: rgba(255, 255, 255, 0.3);
    font-family: "Geomanist-Bold";
    border: 2px solid rgba(255, 255, 255, 0.2);
    transition: border 400ms ease;

    &::placeholder {
        color: white;
        font-family: "Geomanist-Regular";
    }

    &:focus {
        border: 2px solid rgba(255, 255, 255, 0.5);
    }

    &.filled {
        border: 2px solid rgba(255, 255, 255, 1);
    }

    @include min(xl) {
        height: 78px;
        border-radius: 20px;
        font-size: 24px;
    }

	@include max(md) {
		height: 6.914vw;
        padding: 0 2.083vw;
        min-width: auto;
        width: 100%;
	}

	@include max(sm) {
		height: 14.933vw;
        padding: 0 4.800vw;
        width: 100%;
	}
}

.button-component {
	height: 3.889vw;
	width: 14.514vw;
	padding: 1.042vw 0;
	background-image: v(app-gradient);
	border-radius: v(button-radius);
	outline: none;
	cursor: pointer;
    transition: opacity 300ms v(ease-in-out-quad), width 500ms ease;

    &.reverse-theme {
        background-image: none;
        background-color: white;

        span {
            color: v(brand-color);
        }
    }

	&.loading {
		opacity: 0.5;
		pointer-events: none;
    }

    @include min(xl) {
        width: 280px;
        height: 78px;
        border-radius: 20px;
        font-size: 24px;
        padding: 0;
    }

	@include max(md) {
        height: 6.914vw;
        min-width: 17.284vw;
	}

	@include max(sm) {
        height: 14.933vw;
        border-radius: 16px;
        width: 100%;
	}

	span {
        color: v(white-color);
        position: relative;
        top: 3px;
	}
}

.form .button-component {
    position: relative;

    .labelUpper {
        transform: scale3d(1, 1, 1);
        opacity: 1;
        transition: opacity 300ms ease, transform 300ms ease;

        &.hide {
            transform: scale3d(0, 0, 1);
            opacity: 0;
        }
    }

    img {
        opacity: 0;
        transition: opacity 300ms ease, transform 300ms ease;
        transform: scale3d(0, 0, 1) translate3d(0, -50%, 0);
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 50%;

        &.visible {
            opacity: 1;
            transform: scale3d(1, 1, 1) translate3d(0, -50%, 0);
        }
    }
}

form {
    &.disabled {
        pointer-events: none;
        cursor: not-allowed;
    }
}