.input-component {
	color: white;
	padding: 0 1.111vw;
    border-radius: 16px;
    min-width: 19.861vw;
    height: 3.889vw;
    background-color: rgba(255, 255, 255, 0.3);
    
    &::placeholder {
        color: white;
    }

	@include max(md) {
		height: 7.292vw;
		padding: 0 2.083vw;
	}

	@include max(sm) {
		height: 14.933vw;
		padding: 0 4vw;
	}
}

.button-component {
	height: 3.889vw;
	width: 14.514vw;
	padding: 1.042vw 0;
	background-color: v(brand-color);
	border-radius: v(button-radius);
	outline: none;
	cursor: pointer;
    transition: opacity 300ms v(ease-in-out-quad);
    
    &.reverse-theme {
        background-color: white;

        span {
            color: v(brand-color);
        }
    }

	&.loading {
		opacity: 0.5;
		pointer-events: none;
	}

	@include max(md) {
		height: 7.292vw;
	}

	@include max(sm) {
		height: 14.933vw;
	}

	span {
		color: v(white-color);
	}
}