.input-component {
	@include proximaRegular(1.389vw);
	line-height: 2.083vw;
	background-color: v(dark-grey);
	color: v(whiteColor);
	padding: 0 1.111vw;
	border-radius: v(app-radius);
	height: 3.889vw;
	transition: border 500ms ease;

	@include max(md) {
		height: 7.292vw;
		font-size: 2.865vw;
		line-height: 4.167vw;
		padding: 0 2.083vw;
	}

	@include max(sm) {
		height: 14.933vw;
		font-size: 4.800vw;
		line-height: 7.200vw;
		padding: 0 4vw;
	}

	&.error {
		border: 1px solid red;
	}
}

.button-component {
	height: 3.889vw;
	width: 42.45%;
	padding: 0 1.111vw;
	background-color: v(brand-color);
	border-radius: v(app-radius);
	outline: none;
	cursor: pointer;
	transition: opacity 300ms v(ease-in-out-quad);

	&.loading {
		opacity: 0.5;
		pointer-events: none;
	}

	@include max(md) {
		height: 7.292vw;
	}

	@include max(sm) {
		height: 14.933vw;
	}

	span {
		@include proximaBold(1.111vw);
		letter-spacing: 1px;
		text-transform: uppercase;
		color: v(whiteColor);

		@include max(md) {
			font-size: 2.083vw;
			line-height: 3.125vw;
		}

		@include max(sm) {
			font-size: 3.733vw;
			line-height: 5.6vw;
		}
	}
}