.input-component {
	color: white;
	padding: 0 1.111vw;
    border-radius: 16px;
    min-width: 19.861vw;
    height: 3.889vw;
    background-color: rgba(255, 255, 255, 0.3);
    font-family: "Geomanist-Bold";

    &::placeholder {
        color: white;
        font-family: "Geomanist-Regular";
    }

    @include min(xl) {
        height: 70px;
        border-radius: 20px;
    }

	@include max(md) {
		height: 7.292vw;
		padding: 0 2.083vw;
	}

	@include max(sm) {
		height: 14.933vw;
        padding: 0 4.800vw;
        width: 100%;
	}
}

.button-component {
	height: 3.889vw;
	width: 14.514vw;
	padding: 1.042vw 0;
	background-image: v(app-gradient);
	border-radius: v(button-radius);
	outline: none;
	cursor: pointer;
    transition: opacity 300ms v(ease-in-out-quad);

    &.reverse-theme {
        background-image: none;
        background-color: white;

        span {
            color: v(brand-color);
        }
    }

	&.loading {
		opacity: 0.5;
		pointer-events: none;
    }

    @include min(xl) {
        width: 280px;
        height: 70px;
        border-radius: 20px;
    }

	@include max(md) {
		height: 7.292vw;
	}

	@include max(sm) {
        height: 14.933vw;
        width: 100%;
	}

	span {
        color: v(white-color);
        position: relative;
        top: 3px;
	}
}