* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

html {
	font-size: 1.6vw;
	background-color: v(black);
}

body {
	@include proximaRegular(1.806vw);
	line-height: 2.778vw;
	transition: background-color 500ms ease;
	overscroll-behavior-y: none;
}
