* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

html, input {
    @include geomanistRegular(1.111vw, 1.667vw);
    
    @include max(sm) {
        font-size: 3.733vw;
        line-height: 5.600vw;
    }
}

*::selection {
	background: v(brand-color);
}

body {
	transition: background-color 500ms ease;
	overscroll-behavior-y: none;

	&.white-theme {
		background-color: white;
	}

	@include min(xl) {
		font-size: 30px;
		line-height: 45px;
	}

	&.locked {
		overflow: hidden;
	}

	.app {
		opacity: 0;
		transition: opacity 500ms v(ease-in-out-quad);
		&.loaded {
			opacity: 1;
		}
	}
}

.swiper-notification {
	display: none;
}

.swiper-slide {
	cursor: pointer;
}

#home {
	overflow-x: hidden;
}

.large-wrapper {
    max-width: v(large-wrapper);
    margin: auto;
    
    @include max(sm) {
        max-width: 100%;
        padding: 0 6.400vw;
    }
}
