* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

html {
	font-size: 1.6vw;
	background-color: v(blackColor);
}

body {
	@include proximaRegular(1.806vw);
	line-height: 2.778vw;
	transition: background-color 500ms ease;
	overscroll-behavior-y: none;

	@include min(xl) {
		font-size: 30px;
		line-height: 45px;
	}

	&.locked {
		overflow: hidden;
	}

	.app {
		opacity: 0;
		transition: opacity 500ms v(ease-in-out-quad);
		&.loaded {
			opacity: 1;
		}
	}
}

.swiper-notification {
	display: none;
}

.swiper-slide {
	cursor: pointer;
}

#home {
	overflow-x: hidden;
}
