* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

html, input {
    @include geomanistRegular(1.111vw, 1.667vw);

    @include max(sm) {
        font-size: 3.733vw;
        line-height: 5.600vw;
    }
}

body {
	transition: background-color 500ms ease;
	overscroll-behavior-y: none;

	&.white-theme {
		background-color: white;
	}

	&.locked {
		overflow: hidden;
	}

	.app {
		opacity: 0;
        transition: opacity 500ms v(ease-in-out-quad);
        overflow: hidden;
        height: 100vh;

		&.loaded {
            overflow: auto;
            height: auto;
			opacity: 1;

			@include max(md) {
				overflow: unset;
			}
		}
	}
}

.swiper-notification {
	display: none;
}

.swiper-slide {
	cursor: pointer;
}

#home {
	overflow-x: hidden;
}

.gradient-text {
  	background: v(app-gradient);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.xl-wrapper {
	max-width: v(xl-wrapper);
	margin: auto;

	@include max(md) {
        max-width: 100%;
        padding: 0 48px;
    }

	@include max(md) {
        padding: 0 24px;
    }
}

.large-wrapper {
    max-width: v(large-wrapper);
	margin: auto;

	@include between(md, classic) {
		max-width: 80%;
	}

	@include max(md) {
        max-width: 100%;
        padding: 0 50px;
    }

    @include max(sm) {
        max-width: 100%;
        padding: 0 24px;
    }
}

.store-button {
	height: 56px;
	max-width: 168px;

	@include min(xl) {
		height: 80px;
		max-width: 220px;
	}

	@include max(md) {
		height: 53px;
	}

	@include max(sm) {
		height: 38px;
		max-width: 117px;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
