@mixin font-face($font, $family) {
	$name: '#{$font}-#{$family}';

	@font-face {
		font-family: $name;
		src:
		url('~assets/fonts/#{$name}/#{$name}.otf') format('opentype'),
		url('~assets/fonts/#{$name}/#{$name}.ttf') format('truetype'),
		url('~assets/fonts/#{$name}/#{$name}.woff') format('truetype'),
		url('~assets/fonts/#{$name}/#{$name}.eot?#iefix') format('embedded-opentype');
		font-weight: normal;
		font-display: swap;
		font-style: normal;
	}
}

@mixin min ($b1) {
	@media (min-width: #{map-get($breakpoints, $b1)}) {
		@content;
	}
}

@mixin max ($b1) {
	@media (max-width: #{map-get($breakpoints, $b1)}) {
		@content;
	}
}

@mixin between ($b1, $b2) {
	@media (min-width: #{map-get($breakpoints, $b1)}) and (max-width: #{map-get($breakpoints, $b2)}) {
		@content;
	}
}

@mixin flexCenter () {
	display: flex;
	align-items: center;
}

@mixin noScrollBar () {
	&::-webkit-scrollbar {
		display: none;
	}
}

@function v($var, $fallback: null) {
	@if ($fallback) {
		@return var(--#{$var}, #{$fallback});
	} @else {
		@return var(--#{$var});
	}
}

