// Colors
@supports(--css: variables) {
    :root {
        --white: #ffffff;
        --brand-color: #E94E29;
        --dark-grey: #1F1F1F;
        --light-grey: #828282;
        --black: #0A0A0A;

        /* easings */
        --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
        --ease-in-out-quad: cubic-bezier(0.45, 0, 0.55, 1);

        /* global values */
        --app-radius: 4px;
    }
}