// Colors
@supports(--css: variables) {
    :root {
        --white: #ffffff;
        --brand-color: #E94E29;
        --dark-grey: #1F1F1F;
        --light-grey: #828282;
        --black: #0A0A0A;

        /* easings */
        --easing-transform: cubic-bezier(0.165, 0.84, 0.44, 1);
    }
}