// Colors
@supports(--css: variables) {
    :root {
        --white-color: #ffffff;
        --black-color: #0D0300;
        --brand-color: #E94E29;
        --dark-grey: #1F1F1F;
        --light-grey: #828282;

        /* easings */
        --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
        --ease-in-out-quad: cubic-bezier(0.45, 0, 0.55, 1);

        /* global values */
        --app-radius: 4px;
        --button-radius: 16px;
        --app-gradient: linear-gradient(0deg, #FD3C08 0%, #F04A8B 100%);

        /* wrapper values */
        --xl-wrapper: 86.111vw;
        --large-wrapper: 71.458vw;
        --medium-wrapper: 71.528vw;

        @include max(md) {
            --large-wrapper: 86.979vw;
        }

        @include min(xl) {
            --app-radius: 8px;
        }
    }
}