/* UTILS */
@import 'utils/reset', 'utils/mixins', 'utils/sizes', 'utils/fonts', 'utils/general', 'utils/variables', 'utils/forms';

/* PAGES */
@import 'pages/home', 'pages/terms-privacy';

/* SECTIONS */
@import 'sections/feed',
        'sections/boards',
        'sections/profileExample',
        'sections/interactiveModules',
        'sections/testimonials',
        'sections/footer';

/* COMPONENTS */
@import 'components/nav',
        'components/wrapper',
        'components/hero',
        'components/sectionHeader',
        'components/board',
        'components/boardGrid',
        'components/phone',
        'components/testimonial',
        'components/footerLinks',
        'components/lazyImg',
        'components/timerSlider',
        'components/phoneSlider',
        'components/waitingListConfirmation';

