/* UTILS */
@import 'utils/reset', 'utils/mixins', 'utils/fonts', 'utils/sizes', 'utils/general', 'utils/variables', 'utils/forms';

/* PAGES */
@import 'pages/home', 'pages/terms';

/* SECTIONS */
@import 'sections/feed',
        'sections/boards',
        'sections/profileExampleNav',
        'sections/profileExample',
        'sections/interactiveModules',
        'sections/testimonials',
        'sections/footer';

/* COMPONENTS */
@import 'components/nav',
        'components/wrapper',
        'components/hero',
        'components/sectionHeader',
        'components/board',
        'components/phone',
        'components/beforeAfter',
        'components/simpleSlider',
        'components/panorama',
        'components/compositions',
        'components/bigQuote',
        'components/testimonial',
        'components/footerLinks',
        'components/modal',
        'components/lazyImg';

