.before-after-component {
    position: relative;
    height: 27.778vw;
    width: 100%;

    @include max(sm) {
        height: 57.600vw;
    }

    .divider {
        @include flexCenter();
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: width 200ms ease;

        .circle {
            @include flexCenter();
            justify-content: center;
            width: 4.514vw;
            height: 4.514vw;
            position: relative;
            cursor: grab;
            user-select: none;

            @include max(md) {
                width: 7.292vw;
                height: 7.292vw;
            }

            @include max(sm) {
                width: 17.067vw;
                height: 17.067vw;
            }

            img {
                user-select: none;
                pointer-events: none;
                width: 40%;
            }

            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                backdrop-filter: blur(50px);
                z-index: -1;
            }
        }

        &.active {
            .circle {
                cursor: grabbing;
            }
        }
    }

    .initial, .reveal {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 100%;
        overflow: hidden;
        z-index: 0;
        user-select: none;

        &.initial {
            transform: translate3d(-100%, 0, 0);
            img {
                transform: translate3d(100%, 0, 0);
            }
        }

        &.reveal {
            transform: translate3d(-50%, 0, 0);
            img {
                transform: translate3d(50%, 0, 0);
            }
        }

        img {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            top: 0;
            left: -100%;
            pointer-events: none;
            object-fit: cover;
            border-radius: v(app-radius);
        }
    }
}