.big-quote-component {
    width: 100%;

    .big-quote-content {
        color: v(whiteColor);
        text-align: center;

        h3 {
            @include proximaExtraBold(6.250vw, 6.250vw);

            @include min(xl) {
                font-size: 130px;
            }

            @include max(md) {
                font-size: 10.417vw;
                line-height: 10.417vw;
            }

            @include max(sm) {
                font-size: 12.800vw;
                line-height: 15.467vw;
            }
        }

        span {
            @include proximaBold(1.111vw, 1.667vw);
            display: block;
            text-transform: uppercase;
            margin-top: 0.764vw;
            letter-spacing: 1px;

            @include max(md) {
                font-size: 2.083vw;
                line-height: 3.125vw;
            }

            @include max(sm) {
                margin-top: 2.933vw;
                font-size: 3.733vw;
                line-height: 5.600vw;
            }
        }
    }
}