.board-component {
    margin-top: 6.250vw;
    position: relative;

    @include max(md) {
        margin-top: 12.500vw;
    }

    .board-component-grid {
        padding: 1.111vw;
        border-radius: v(app-radius);
        max-width: v(large-wrapper);
        margin: auto;
        position: relative;
        background: rgba(255, 255, 255, 0.1);

        @include max(md) {
            max-width: 100%;
            padding: 1.563vw;
        }

        .board-placeholder {
            position: absolute;
            width: calc(100% - (2 * 1.111vw));
            left: auto;

            @include max(md) {
                width: calc(100% - (2 * 1.563vw));
            }

            .media {
                background: v(white);
                opacity: 0.1;
                border-radius: v(app-radius);
            }
        }

        .board-wrapper {
            &.hidden {
                visibility: hidden;
            }
        }

        .row {
            display: flex;
            justify-content: space-between;

            &:last-child {
                margin-top: 1.111vw;

                @include max(md) {
                    margin-top: 1.563vw;
                }
            }

            .media {
                height: 17.5vw;
                position: relative;

                @include max(md) {
                    height: 24.479vw;
                }

                .media-wrapper {
                    width: 100%;
                    height: 100%;
                }

                &.square {
                    width: 20.069vw;

                    @include max(md) {
                        width: 27.995vw;
                    }
                }

                &.portrait {
                    width: 12.847vw;

                    @include max(md) {
                        width: 17.969vw;
                    }
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: v(app-radius);
                    z-index: 1;
                }
            }
        }
    }

    .slide-loader {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: v(light-grey);
        opacity: 0;
        transition: opacity 300ms ease;

        &.visible {
            opacity: 1;
        }
    }
    .board-component-slider {
        margin-top: 1.945vw;
        width: 100%;
        overflow: hidden;
        transform: translateY(4.722vw);

        @include max(md) {
            margin-top: 7.292vw;
            transform: translateY(0);
        }

        @include max(sm) {
            margin-top: 17.067vw;
        }

        .board-slider-nav {
            max-width: 36.597vw;
            margin: auto;
            opacity: 0;

            @include max(md) {
                max-width: 68.620vw;
            }

            @include max(sm) {
                @include noScrollBar();
                max-width: 100%;
                overflow: scroll;
            }

            .categories {
                @include flexCenter();
                height: 4.097vw;

                @include max(md) {
                    height: 7.813vw;
                }

                @include max(sm) {
                    height: 11.200vw;
                    margin-left: 6.400vw;
                }

                .single {
                    @include flexCenter();
                    @include proximaBold(1.111vw, 1.667vw);
                    color: v(white);
                    text-transform: uppercase;
                    height: 100%;
                    padding: 0 1.667vw;
                    position: relative;
                    cursor: pointer;
                    letter-spacing: 1px;

                    @include max(md) {
                        font-size: 2.083vw;
                        line-height: 3.125vw;
                        padding: 0 3.125vw;
                    }

                    @include max(sm) {
                        font-size: 3.733vw;
                        line-height: 5.600vw;
                        padding: 0 4.267vw;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background-color: v(black);
                        opacity: 0;
                        z-index: -1;
                        border-radius: v(app-radius);
                        transform: scale3d(0.8, 0.8, 1);
                        transition: opacity 250ms v(ease-in-out-quart), transform 250ms v(ease-in-out-quart);
                    }

                    &.active {
                        &:before {
                            transform: scale3d(1, 1, 1);
                            opacity: 0.2;
                        }
                    }
                }
            }
        }

        .board-slider {
            position: relative;
            z-index: 2;
            margin: 2.917vw auto 0 auto;
            max-width: v(xl-wrapper);

            @include max(md) {
                margin: 6.771vw auto 12.370vw auto;
                max-width: 100%;
            }

            @include max(sm) {
                margin: 8.533vw auto 28.267vw auto;
            }

            .slider-behind {
                @include max(sm) {
                    display: none;
                }
                .swiper-container {
                    width: 27.222vw;
                    height: 58.403vw;
                    margin: auto;

                    @include max(md) {
                        width: 41.406vw;
                        height: 88.802vw;
                    }

                    .swiper-wrapper {
                        display: inline-flex;
                        height: 30.556vw;
                        overflow: hidden;
                        transition-timing-function: v(ease-in-out-quart);

                        @include max(md) {
                            height: 45.573vw;
                        }

                        .screen {
                            width: 100%;
                            height: 100%;
                            opacity: 0.5;
                            position: relative;
                            border-radius: 40px;
                            overflow: hidden;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                user-select: none;
                                pointer-events: none;
                            }
                        }
                    }
                }
            }

            .phone-wrapper {
                width: 27.222vw;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                margin: auto;

                @include max(md) {
                    width: 41.406vw;
                }

                @include max(sm) {
                    position: relative;
                    width: 69.867vw;
                }

                .slider-prev, .slider-next {
                    width: 3.333vw;
                    height: 3.333vw;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    border-radius: 10px;
                    outline: none;
                    position: absolute;
                    user-select: none;
                    left: -7.222vw;
                    bottom: 0;
                    transform: translateY(-14.444vw) rotate(-90deg);

                    @include max(md) {
                        width: 7.292vw;
                        height: 7.292vw;
                        left: calc(-4.167vw - 7.292vw);
                        transform: translateY(-16.797vw) rotate(-90deg);
                    }

                    @include max(sm) {
                        left: calc(-13.6vw);
                        width: 9.600vw;
                        height: 9.600vw;
                        transform: translateY(-69vw) rotate(-90deg);
                    }

                    img {
                        opacity: 1;
                        width: 1.667vw;
                        height: 1.181vw;
                        transition: opacity 300ms ease;

                        @include max(md) {
                            width: 3.125vw;
                            height: 2.214vw;
                        }

                        @include max(sm) {
                            width: 5.267vw;
                            height: 3.933vw;
                        }
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background: v(white);
                        opacity: 0.1;
                        border-radius: 6px;
                    }

                    &.slider-next {
                        left: auto;
                        right: -7.222vw;
                        transform: translateY(-14.444vw) rotate(90deg);

                        @include max(md) {
                            right: calc(-4.167vw - 7.292vw);
                            transform: translateY(-16.797vw) rotate(90deg);
                        }

                        @include max(sm) {
                            right: calc(-13.600vw);
                            transform: translateY(-69vw) rotate(90deg);
                        }
                    }

                    &.swiper-button-disabled {
                        pointer-events: none;
                        img {
                            opacity: 0.3;
                        }
                    }
                }

                .slider-front {
                    height: 100%;
                    border-radius: 35px;
                    position: relative;
                    z-index: 2;
                    overflow: hidden;

                    @include max(sm) {
                        border-radius: 20px;
                    }

                    .swiper-container {
                        height: 100%;
                    }

                    .swiper-wrapper {
                        display: inline-flex;
                        height: 100%;
                        overflow: hidden;
                        transition-timing-function: v(ease-in-out-quart);

                        .screen {
                            width: 100%;
                            height: 100%;
                            background: white;
                            position: relative;

                            .media {
                                height: 100%
                            }

                            video {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                user-select: none;
                                pointer-events: none;
                            }
                        }
                    }
                }

                .phone-component {
                    margin: auto;
                    width: 100%;
                    border-color: white;
                    overflow: visible;
                    position: relative;
                }
            }
        }
    }
}