.board-component {
    margin-top: 3.958vw;
    position: relative;

    @include min(xl) {
        margin-top: 90px;
    }

    @include max(md) {
        margin-top: 12.500vw;
    }

    @include max(sm) {
        margin-top: 12.800vw;
    }

    .board-component-slider {
        width: 100%;
        overflow: hidden;
        margin: 5.208vw auto 0 auto;

        @include max(sm) {
            margin-top: 13.333vw;
        }
    }
}