.board-component-grid {
    max-width: v(large-wrapper);
    margin: auto;
    position: relative;

    @include max(md) {
        max-width: 100%;
    }

    .board-placeholder {
        position: absolute;
        width: 100%;
        left: auto;
        background: rgba(0, 0, 0, 0.1);
        border-radius: v(app-radius);

        .media {
            background: v(white-color);
            opacity: 0.1;
            border-radius: v(app-radius);
        }
    }

    .board-wrapper {
        &.hidden {
            visibility: hidden;
        }
    }

    .row {
        display: flex;
        justify-content: space-between;

        &:first-child {
            .media:nth-of-type(2) {
                z-index: 1;
            }
        }

        &:last-child {
            margin-top: 1.111vw;

            @include min(xl) {
                margin-top: 16px;
            }

            @include max(md) {
                margin-top: 1.563vw;
            }
        }

        .media {
            height: 17.5vw;
            position: relative;

            @include max(md) {
                height: 24.479vw;
            }

            @include max(md) {
                height: 22.133vw;
            }

            .media-wrapper {
                width: 100%;
                height: 100%;
            }

            &.square {
                width: 20.625vw;

                @include max(md) {
                    width: 27.995vw;
                }

                @include max(sm) {
                    width: 25.333vw;
                }
            }

            &.portrait {
                width: 13.194vw;

                @include max(md) {
                    width: 17.969vw;
                }

                @include max(sm) {
                    width: 16vw;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: v(app-radius);
                z-index: 1;
            }
        }
    }
}