.board-component {
    max-width: v(large-wrapper);
    margin-left: auto;
	margin-right: auto;
    position: relative;

    @include max(md) {
        max-width: 100%;
    }

    .board-wrapper {
        &.hidden {
            visibility: hidden;
        }
    }

    .row {
        display: flex;
        justify-content: space-between;

        &:first-child {
            .media:first-child {
                z-index: 1;
            }
        }

        &:last-child {
            margin-top: 32px;

            @include max(md) {
                margin-top: 2.716vw;
            }

            @include max(sm) {
                margin-top: 1.563vw;
            }
        }

        .media {
			height: 260px;
            position: relative;

			@include min(xl) {
                height: 280px;
            }

			@include max(lg) {
				height: 17.5vw;
			}

            @include max(md) {
                height: 22.222vw;
            }

            @include max(sm) {
                height: 22.133vw;
            }

            .media-wrapper {
                width: 100%;
                height: 100%;
				transform: translate3d(0, 0, 0);
            }

            &.square {
				width: 286px;

                @include min(xl) {
                    width: 450px;
                }

				@include max(lg) {
					width: 19.861vw;
				}

                @include max(md) {
                    width: 24.568vw;
                }

                @include max(sm) {
                    width: 25.333vw;
                }
            }

            &.portrait {
				width: 180px;

				@include min(xl) {
					width: 200px;
				}

				@include max(lg) {
					width: 12.500vw;
				}

                @include max(md) {
                    width: 15.432vw;
                }

                @include max(sm) {
                    width: 16vw;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: v(app-radius);
                z-index: 1;

                @include min(xl) {
                    border-radius: 16px;
                }
            }
        }
    }
}
