.board-component {
    margin-top: 3.958vw;
    position: relative;

    @include max(md) {
        margin-top: 12.500vw;
    }

    @include max(sm) {
        margin-top: 12.800vw;
    }

    .board-component-phone-video {
        width: 100%;
        margin: 5.208vw auto 0 auto;
        z-index: 1;
        position: relative;

        @include max(sm) {
            margin-top: 13.333vw;
        }

        .phone-component {
            margin: 0 auto;
        }
    }
}