.board-component {
    margin-top: 6.250vw;
    position: relative;
    z-index: -1;

    @include min(xl) {
        margin-top: 90px;
    }

    @include max(md) {
        margin-top: 12.500vw;
    }

    @include max(sm) {
        margin-top: 20vw;
    }

    .board-component-slider {
        width: 100%;
        overflow: hidden;
        transform: translateY(50px);

        &.no-events {
            pointer-events: none;
        }

        @include max(md) {
            transform: translateY(0);
        }

        .board-slider {
            position: relative;
            z-index: 2;
            margin: 0 auto;
            max-width: v(xl-wrapper);

            @include min(xl) {
                margin: 0 auto;
            }

            @include max(md) {
                margin: 7.292vw auto 12.370vw auto;
                max-width: 100%;
            }

            @include max(sm) {
                margin: 8.533vw auto 20vw auto;
            }

            .slider-behind {
                @include max(sm) {
                    position: absolute;
                    visibility: hidden;
                }

                .swiper-container {
                    width: 24.514vw;
                    height: 52.222vw;
                    margin: auto;

                    @include min(xl) {
                        max-width: 533px;
                    }

                    @include max(md) {
                        width: 41.406vw;
                        height: 88.802vw;
                    }

                    .swiper-wrapper {
                        display: inline-flex;
                        height: 27.153vw;
                        overflow: hidden;
                        transition-timing-function: v(ease-in-out-quart);

                        @include min(xl) {
                            height: 598px;
                        }

                        @include max(md) {
                            height: 45.573vw;
                        }

                        @include max(sm) {
                            transition-duration: 0ms !important;
                        }

                        .screen {
                            width: 100%;
                            height: 100%;
                            opacity: 0.5;
                            position: relative;
                            border-radius: 40px;
                            overflow: hidden;

                            @include min(xl) {
                                border-radius: 60px;
                            }

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                user-select: none;
                                pointer-events: none;
                            }
                        }
                    }
                }
            }

            .phone-wrapper {
                width: 24.514vw;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                margin: auto;

                @include max(md) {
                    width: 41.406vw;
                }

                @include max(sm) {
                    position: relative;
                    width: 69.867vw;
                }

                .slider-prev, .slider-next {
                    width: 4.444vw;
                    height: 4.444vw;
                    max-height: 64px;
                    max-width: 64px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    border-radius: 10px;
                    outline: none;
                    position: absolute;
                    user-select: none;
                    left: -8.6vw;
                    bottom: 0;
                    transform: translateY(-14.444vw) rotate(-90deg);

                    &:active:before {
                        transform: scale3d(0.95, 0.95, 1);
                    }

                    @include max(md) {
                        width: 7.292vw;
                        height: 7.292vw;
                        left: calc(-4.167vw - 7.292vw);
                        transform: translateY(-16.797vw) rotate(-90deg);
                    }

                    @include max(sm) {
                        left: calc(-13.6vw);
                        width: 9.600vw;
                        height: 9.600vw;
                        transform: translateY(-69vw) rotate(-90deg);
                    }

                    img {
                        opacity: 1;
                        width: 25%;
                        transition: opacity 300ms ease;

                        @include max(md) {
                            width: 3.125vw;
                            height: 2.214vw;
                        }

                        @include max(sm) {
                            width: 5.267vw;
                            height: 3.933vw;
                        }
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background: v(whiteColor);
                        opacity: 0.1;
                        border-radius: 6px;
                        transition: transform 100ms v(ease-in-out-quad);
                    }

                    &.slider-next {
                        left: auto;
                        right: -8.6vw;
                        transform: translateY(-14.444vw) rotate(90deg);

                        @include max(md) {
                            right: calc(-4.167vw - 7.292vw);
                            transform: translateY(-16.797vw) rotate(90deg);
                        }

                        @include max(sm) {
                            right: calc(-13.600vw);
                            transform: translateY(-69vw) rotate(90deg);
                        }
                    }

                    &.swiper-button-disabled {
                        pointer-events: none;
                        img {
                            opacity: 0.3;
                        }
                    }
                }

                .slider-front {
                    height: 100%;
                    border-radius: 35px;
                    position: relative;
                    z-index: 2;
                    overflow: hidden;

                    @include min(xl) {
                        border-radius: 50px;
                    }

                    @include max(sm) {
                        border-radius: 22px;
                    }

                    .swiper-container {
                        height: 100%;
                    }

                    .swiper-wrapper {
                        display: inline-flex;
                        height: 100%;
                        overflow: hidden;
                        transition-timing-function: v(ease-in-out-quart);

                        .screen {
                            width: 100%;
                            height: 100%;
                            background: white;
                            position: relative;
                            cursor: auto;

                            .media {
                                height: 100%
                            }

                            video {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                user-select: none;
                                pointer-events: none;
                            }
                        }
                    }
                }

                .phone-component {
                    margin: auto;
                    width: 100%;
                    border-color: white;
                    overflow: visible;
                    position: relative;
                }
            }
        }
    }
}