.board-component {
    margin-top: 6.250vw;
    position: relative;

    @include min(xl) {
        margin-top: 90px;
    }

    @include max(md) {
        margin-top: 12.500vw;
    }

    @include max(sm) {
        margin-top: 20vw;
    }

    .board-component-slider {
        width: 100%;
        overflow: hidden;
        margin: 100px auto 0 auto;
    }
}