.composition {
    opacity: 0;
    transition: opacity 450ms v(ease-in-out-quart);

    @for $i from 1 through 9 {
        &:nth-child(#{$i}) {
            transition-delay: $i * 0.1s;
        }
    }

    &.in-view {
        opacity: 1;
    }

    > div {
        display: flex;
        height: 100%;
        overflow: hidden;
        border-radius: v(app-radius);

        .splitted-row {
            display: flex;
            height: 50%;
        }

        img, video {
            object-fit: cover;
        }
    }

    .duo-landscape {
        flex-direction: column;

        img, video {
            width: 100%;
            height: 50%;
        }
    }

    .duo-portrait {
        img {
            width: 50%;
            height: 100%;
        }
    }

    .trio-landscape {
        flex-direction: column;

        img {
            width: 100%;
            height: 25%;

            &:nth-of-type(2) {
                height: 50%;
            }
        }
    }

    .trio-portrait {
        video, img {
            width: 100%;
            height: 100%;
        }
    }

    .trio-portrait-squares {
        .full-col {
            height: 100%;

            video, img {
                width: 100%;
                height: 100%;

            }
        }

        .splitted-col {
            display: flex;
            flex-direction: column;

            img, video {
                width: 100%;
                height: 50%;

            }
        }
    }

    .trio-landscape-squares {
        flex-direction: column;

        .full-row {
            width: 100%;
            height: 50%;

            video, img {
                width: 100%;
                height: 100%;

            }
        }

        .splitted-row {
            img, video {
                width: 50%;
                height: 100%;

            }
        }
    }

    .quatuor-landscape-portrait {
        flex-direction: column;

        .full-row {
            width: 100%;
            height: 50%;

            video, img {
                width: 100%;
                height: 100%;

            }
        }

        .splitted-row {
            img, video {
                width: calc(100% / 3);
                height: 100%;

            }
        }
    }

    .quatuor-squares {
        flex-wrap: wrap;

        img, video {
            width: calc(100% / 2);
            height: 50%;
        }
    }
}