.footer-links-component {
    margin: 6.597vw auto 0 auto;
    max-width: 47.986vw;

    @include max(md) {
        margin: 12.109vw auto 0 auto;
        max-width: 100%;
    }

    @include max(sm) {
        margin: 19.733vw auto 0 auto;
        max-width: 100%;
    }

    ul {
        display: flex;
        justify-content: space-between;

        @include max(sm) {
            flex-direction: column;
            align-items: center;
        }

        li {
            &:not(:first-child) {
                @include max(sm) {
                    margin-top: 4.267vw;
                }
            }
            span, a {
                @include proximaBold(1.111vw, 1.667vw);
                letter-spacing: 1px;
                color: #535353;
                text-transform: uppercase;

                @include max(md) {
                    font-size: 2.083vw;
                    line-height: 3.125vw;
                }

                @include max(sm) {
                    font-size: 3.733vw;
                    line-height: 5.600vw;
                }
            }
        }
    }
}