.footer-links-component {
    margin: 200px auto 0 auto;

    @include max(sm) {
        margin: 40px auto 0 auto;
    }

    ul {
        display: flex;
        justify-content: space-between;

        @include max(sm) {
            flex-direction: column;
        }

        li {
			opacity: 1;
			transition: opacity 300ms ease;

			&:hover {
				opacity: 0.3;
			}

            &:not(:first-child) {
                @include max(sm) {
                    margin-top: 4.267vw;
                }
            }
            span, a {
                color: white;
            }
        }
    }
}
