.hero-component {
	height: 90vh;
	max-height: -webkit-fill-available;
	width: 100%;
	position: relative;

	@include max(md) {
		display: flex;
		align-items: flex-end;
		height: auto;
	}

	.hero-component-content {
		@include flexCenter();
		position: relative;
		height: 100%;
		color: v(white-color);
		justify-content: space-between;
		padding: 0 100px;

		@include min(xxl) {
			max-width: 80%;
			margin: auto;
			padding: 0;
		}

		@include between(md, lg) {
			padding: 0 50px;
		}

		@include max(md) {
			align-items: flex-start;
			flex-direction: column;
			justify-content: center;
			padding: 0 6.173vw;
			margin: 120px auto;
		}

		@include max(sm) {
			padding: 0 6.4vw;
			margin: 100px auto;
		}

		.left {
			@include max(sm) {
				margin: 0;
			}

			.text {
				color: black;

				.line {
					display: inline;
					white-space: nowrap;
					width: 100%;

					&:last-child {
						display: block;
					}
				}

				p {
					margin-top: 16px;

					@include max(md) {
						max-width: 90%;
					}

					@include max(sm) {
						max-width: 100%;
					}
				}
			}

			.download-app {
				@include flexCenter();
				margin-top: 32px;

				@include max(sm) {
					margin-top: 24px;

					img {
						object-position: left;
						max-width: 140px;
					}
				}

				.store-button {
					@include max(md) {
						img {
							object-position: left;
						}
					}
					&:last-child {
						margin-left: 32px;

                        @include min(xl) {
                            max-width: 225px;
                        }

						@include max(md) {
							margin-left: 25px;
						}

						@include max(sm) {
							margin-left: 12px
						}
					}
				}
			}
		}

		.preview-slider {
			width: 347px;
			pointer-events: none;

			@include min(xl) {
				min-width: 483px;
			}

			@include max(md) {
				display: none;
			}

			.phone-component {
				-webkit-mask-image: -webkit-radial-gradient(white, black); // Fix border radius overflow not hidden
				margin-left: auto;

				@include min(xl) {
					max-width: 100%;
					max-height: 100%;
					width: 400px;
					height: 830px;
				}
			}
		}
	}
}
