.hero-component {
    height: 100vh;
    max-height: -webkit-fill-available;
    width: 100%;
    background: v(app-gradient);

    .hero-component-content {
        position: relative;
        @include flexCenter();
        height: 100%;
        color: v(white-color);
        overflow: hidden;
        justify-content: space-between;
        padding: 0 6.250vw;

        @include max(sm) {
            padding: 0 6.667vw;
        }

        @include max(md) {
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
            padding: 0 6.173vw;
        }

        @include max(sm) {
            padding: 0;
        }

        .left {
            width: 57.153vw;

            @include max(md) {
                width: 100%;
            }

            @include max(sm) {
                padding: 0 6.400vw;
                margin: 0;
            }

            .text {
                @include max(md) {
                    max-width: 95%;
                }

                @include max(sm) {
                    max-width: 100%;
                }

                .line {
                    display: block;
                    white-space: nowrap;
                    width: 100%;
                }

                .md {
                    display: none;
                    @include max(md) {
                        display: inline-block;
                    }
                }

                .filling-text {
                    // -webkit-text-stroke-width: 2px;
                    // -webkit-text-stroke-color: white;
                    // color: transparent;
                }

                .typed-cursor {
                    position: relative;
                    &:before {
                        content: '';
                        position: absolute;
                        width: 15px;
                        height: 100%;
                        left: 5px;
                        border-radius: 10px;
                        background: white;
                    }
                }

                p {
                    margin-top: 1.458vw;

                    @include max(md) {
                        margin-top: 2.716vw;
                        max-width: 82%;
                    }

                    @include max(sm) {
                        margin-top: 4.800vw;
                        max-width: 100%;
                    }
                }
            }

            form {
                @include flexCenter();
                justify-content: space-between;
                margin-top: 5.208vw;

                @include max(md) {
                    margin-top: 7.037vw;
                }

                @include max(sm) {
                    margin-top: 9.600vw;
                    flex-direction: column;
                }

                .input-component {
                    &:nth-of-type(2) {
                        margin: 0 1.111vw;

                        @include max(md) {
                            margin: 0 1.975vw;
                        }
                    }
                    &:last-of-type {
                        @include min(xl) {
                            margin: 0 16px;
                        }
                        @include max(sm) {
                            margin-top: 4.267vw;
                        }
                    }
                }

                button {
                    @include max(sm) {
                        width: 100%;
                        max-width: 100%;
                        margin: 4.267vw auto 0 auto;
                    }
                }
            }
        }
        .preview-slider {
            width: 22.153vw;

            @include max(md) {
                display: none;
            }

            .swiper-wrapper {
                width: 100%;
                display: flex;
                position: relative;

                .swiper-slide {
                    width: 100%;
                    height: 100%;
                    flex-shrink: 0;

                    .phone-component {
                        -webkit-mask-image: -webkit-radial-gradient(white, black); // Fix border radius overflow not hidden
                    }
                }
            }
        }
    }
}