.hero-component {
    height: 100vh;
    min-height: -webkit-fill-available;
    width: 100%;

    .hero-component-content {
        @include flexCenter();
        height: 100%;
        color: v(white);

        .left {
            max-width: 36.806vw;

            .text {
                h1 {
                    @include proximaExtraBold(6.250vw);
                }
                p {
                    margin-top: 2.431vw;
                }
            }

            .form {
                @include flexCenter();
                margin-top: 3.681vw;
                height: 56px;

                input {
                    @include proximaRegular(1.389vw);
                    line-height: 2.083vw;
                    background-color: v(dark-grey);
                    color: v(light-grey);
                    padding: 0 1.111vw;
                    border-radius: 4px;
                    height: 100%;
                    width: 57.55%;
                }

                button {
                    height: 100%;
                    width: 42.45%;
                    padding: 0 1.111vw;
                    background-color: v(brand-color);
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;

                    span {
                        @include proximaBold(1.111vw);
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        color: v(white);
                    }
                }
            }
        }
    }
}