.hero-component {
	height: 100vh;
	max-height: -webkit-fill-available;
	width: 100%;
	position: relative;

	@include max(md) {
		display: flex;
		align-items: flex-end;
		height: auto;
	}

	.hero-component-content {
		@include flexCenter();
		position: relative;
		height: 100%;
		color: v(white-color);
		overflow: hidden;
		justify-content: space-between;
		padding: 0 100px;

		@include min(xxl) {
			max-width: 60%;
			margin: auto;
			padding: 0;
		}

		@include max(md) {
			align-items: flex-start;
			flex-direction: column;
			justify-content: center;
			padding: 0 6.173vw;
			margin: 120px auto;
		}

		@include max(sm) {
			padding: 0 6.4vw;
			margin: 100px auto;
		}

		.left {
			@include max(sm) {
				margin: 0;
			}

			.text {
				color: black;

				@include max(md) {
					max-width: 100%;
				}

				.line {
					display: inline;
					white-space: nowrap;
					width: 100%;
				}

				.md {
					display: none;
					@include max(md) {
						display: inline;
						color: inherit;
					}
				}

				.typed-cursor {
					position: relative;
					&:before {
						content: '';
						position: absolute;
						width: 6px;
						height: 100%;
						left: 5px;
						border-radius: 10px;
						background: black;
						opacity: 0.5;

						@include min(xl) {
							width: 8px;
						}
					}
				}

				p {
					margin-top: 16px;

					@include max(sm) {
						margin-top: 24px;
					}
				}
			}

			.download-app {
				@include flexCenter();
				margin-top: 32px;

				@include max(sm) {
					margin-top: 24px;

					img {
						object-position: left;
						max-width: 118px;
					}
				}

				.store-button {
					@include max(md) {
						img {
							object-position: left;
						}
					}
					&:last-child {
						opacity: 0.2;
						margin-left: 32px;
						pointer-events: none;

						@include max(md) {
							margin-left: 28px;
						}

						@include max(sm) {
							margin-left: 12px
						}
					}
				}
			}
		}
		.preview-slider {
			width: 347px;
			pointer-events: none;

			@include min(xl) {
				min-width: 483px;
			}

			@include max(md) {
				display: none;
			}

			.swiper-wrapper {
				width: 100%;
				display: flex;
				position: relative;

				.swiper-slide {
					width: 100%;
					height: 100%;
					flex-shrink: 0;

					.phone-component {
						-webkit-mask-image: -webkit-radial-gradient(white, black); // Fix border radius overflow not hidden
						margin-left: auto;

						@include min(xl) {
							max-width: 100%;
							max-height: 100%;
							width: 400px;
							height: 830px;
						}
					}
				}
			}
		}
	}
}
