.hero-component {
    height: 90vh;
    max-height: -webkit-fill-available;
    width: 100%;
    background: v(app-gradient);
    position: relative;

    &:after {
        content: '';
        background: #FD3C08;
        position: absolute;
        bottom: -32px;
        width: 100%;
        height: 32px;
        z-index: -1;
        border-bottom-left-radius: 50% 100%;
        border-bottom-right-radius: 50% 100%;
    }


    @include max(sm) {
        display: flex;
        align-items: flex-end;
    }

    .hero-component-content {
        position: relative;
        @include flexCenter();
        height: 100%;
        color: v(white-color);
        overflow: hidden;
        justify-content: space-between;
        padding: 0 6.250vw;

        @include max(md) {
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
            padding: 0 6.173vw;
        }

        @include max(sm) {
            padding: 0 6.4vw;
            height: calc(100% - 48px);
        }

        .left {
            width: 57.153vw;

            @include max(md) {
                width: 100%;
            }

            @include max(sm) {
                margin: 0;
            }

            .text {
                @include max(md) {
                    max-width: 95%;
                }

                @include max(sm) {
                    max-width: 100%;
                }

                .line {
                    display: block;
                    white-space: nowrap;
                    width: 100%;
                }

                .md {
                    display: none;
                    @include max(md) {
                        display: inline-block;
                    }
                }

                .typed-cursor {
                    position: relative;
                    &:before {
                        content: '';
                        position: absolute;
                        width: 6px;
                        height: 100%;
                        left: 5px;
                        border-radius: 10px;
                        background: white;
                        opacity: 0.5;

                        @include min(xl) {
                            width: 8px;
                        }
                    }
                }

                p {
                    margin-top: 1.458vw;

                    @include max(md) {
                        margin-top: 2.716vw;
                        max-width: 82%;
                    }

                    @include max(sm) {
                        margin-top: 4.800vw;
                        max-width: 100%;
                    }
                }
            }

            form {
                @include flexCenter();
                margin-top: 5.208vw;

                @include max(md) {
                    margin-top: 7.037vw;
                }

                @include max(sm) {
                    margin-top: 9.600vw;
                    flex-direction: column;
                }

                &.disabled {
                    button {
                        width: 3.889vw;
                        height: 3.889vw;

                        @include min(xl) {
                            height: 78px;
                            width: 78px;
                        }

                        @include max(md) {
                            width: 100%;
                            height: 14.933vw;
                        }
                    }
                }

                .input-component {
                    &:nth-of-type(2) {
                        margin: 0 1.111vw;

                        @include min(xl) {
                            margin: 0 24px;
                        }

                        @include max(md) {
                            margin: 0 1.975vw;
                        }

                        @include max(sm) {
                            margin: 0;
                        }
                    }
                    &:last-of-type {
                        @include min(xl) {
                            margin: 0 24px;
                        }
                        @include max(sm) {
                            margin-top: 4.267vw;
                        }
                    }
                }

                button {
                    @include max(sm) {
                        width: 100%;
                        max-width: 100%;
                        margin: 4.267vw auto 0 auto;
                    }
                }
            }
        }
        .preview-slider {
            width: 22.153vw;
            pointer-events: none;

            @include max(md) {
                display: none;
            }

            .swiper-wrapper {
                width: 100%;
                display: flex;
                position: relative;

                .swiper-slide {
                    width: 100%;
                    height: 100%;
                    flex-shrink: 0;

                    .phone-component {
                        max-width: 323px;
                        max-height: 702px;
                        -webkit-mask-image: -webkit-radial-gradient(white, black); // Fix border radius overflow not hidden

                        @include min(xl) {
                            max-width: 100%;
                            max-height: 100%;
                            width: 100%;
                            height: 1208px;
                            margin-left: auto;
                        }
                    }
                }
            }
        }
    }
}