.hero-component {
    height: 100vh;
    min-height: -webkit-fill-available;
    width: 100%;

    .hero-component-content {
        position: relative;
        @include flexCenter();
        height: 100%;
        color: v(white);
        overflow: hidden;

        .left {
            max-width: 36.181vw;
            margin-left: 6.944vw;

            .text {
                h1 {
                    @include proximaExtraBold(6.250vw);
                }
                p {
                    margin-top: 2.431vw;
                }
            }

            .form {
                @include flexCenter();
                margin-top: 3.681vw;

                .input-component {
                    width: 57.55%;
                }

                button {
                    width: 42.45%;
                    padding: 0 1.111vw;
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }

        .columns-slider {
            display: flex;
            position: absolute;
            right: -13.889vw;
            transform: rotate(-15deg);

            .column {
                height: 40.903vw;
                width: 19.028vw;

                &:nth-of-type(2) {
                    margin: 0 2.431vw;
                }

                .swiper-wrapper {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    transition-timing-function: linear;
                    will-change: transform;
                }

                .swiper-slide {
                    .phone-component {
                        height: 100%;
                        width: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}