.hero-component {
    height: 100vh;
    max-height: -webkit-fill-available;
    width: 100%;
    background: v(app-gradient);

    .hero-component-content {
        position: relative;
        @include flexCenter();
        height: 100%;
        color: v(white-color);
        overflow: hidden;
        justify-content: space-between;

        @include max(md) {
            flex-direction: column;
            justify-content: center;
        }

        .left {
            max-width: 57.153vw;
            margin-left: 6.250vw;

            @include max(sm) {
                max-width: 100%;
                padding: 0 6.400vw;
                margin: 0;
            }

            .text {
                @include max(sm) {
                    max-width: 95%;
                }

                .filling-text {
                    -webkit-text-stroke-width: 2px;
                    -webkit-text-stroke-color: white;
                    color: transparent;
                    position: relative;

                    .copy {
                        position: absolute;
                        width: 40%;
                        height: 100%;
                        color: white;
                        overflow: hidden;
                    }
                }

                p {
                    margin-top: 1.458vw;

                    @include max(md) {
                        margin-top: 5.078vw;
                    }

                    @include max(sm) {
                        margin-top: 6.400vw;
                    }
                }
            }

            form {
                @include flexCenter();
                justify-content: space-between;
                margin-top: 5.208vw;

                @include max(md) {
                    margin-top: 5.859vw;
                }

                @include max(sm) {
                    margin-top: 10.667vw;
                    flex-direction: column;
                }

                .input-component {
                    &:last-of-type {
                        @include min(xl) {
                            margin: 0 16px;
                        }
                        @include max(sm) {
                            margin-top: 4.267vw;
                        }
                    }
                }

                button {
                    @include max(sm) {
                        width: 100%;
                        margin-top: 4.267vw;
                    }
                }
            }
        }
        .preview-slider {

        }
    }
}