.hero-component {
    height: 100vh;
    min-height: -webkit-fill-available;
    width: 100%;

    .hero-component-content {
        position: relative;
        @include flexCenter();
        height: 100%;
        color: v(whiteColor);
        overflow: hidden;

        @include max(md) {
            flex-direction: column;
            align-items: unset;
        }

        .left {
            max-width: 36.181vw;
            margin-left: 6.944vw;

            @include min(xl) {
                max-width: 31.181vw;
                margin-left: 100px;
            }

            @include max(md) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: calc((100% / 3) * 2);
                max-width: 66.667vw;
                margin-left: 6.510vw;
                padding-top: 10vw;
            }

            @include max(sm) {
                max-width: 100%;
                margin-left: 0;
                padding: 13vw 6.667vw 0 6.667vw;
            }

            .text {
                @include max(sm) {
                    max-width: 95%;
                }
                h1 {
                    @include proximaExtraBold(6.250vw);

                    @include min(xl) {
                        font-size: 130px;
                        line-height: 130px;
                    }

                    @include max(md) {
                        font-size: 10.417vw;
                        line-height: 10.417vw;
                    }

                    @include max(sm) {
                        font-size: 12.8vw;
                        line-height: 15.467vw;
                    }
                }
                p {
                    margin-top: 2.431vw;

                    @include min(xl) {
                        margin-top: 60px;
                    }

                    @include max(md) {
                        font-size: 2.865vw;
                        line-height: 4.167vw;
                        margin-top: 5.078vw;
                    }

                    @include max(sm) {
                        font-size: 4.8vw;
                        line-height: 7.2vw;
                        margin-top: 2.133vw;
                    }
                }
            }

            form {
                @include flexCenter();
                margin-top: 3.681vw;

                @include min(xl) {
                    margin-top: 80px;
                }

                @include max(md) {
                    margin-top: 5.859vw;
                }

                @include max(sm) {
                    margin-top: 8.267vw;
                }

                .input-component {
                    width: 57.55%;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;

                    @include min(xl) {
                        width: 62%;
                    }

                    @include max(sm) {
                        display: none;
                    }
                }

                button {
                    width: 42.45%;
                    padding: 0 1.111vw;
                    border-top-right-radius: v(app-radius);
                    border-bottom-right-radius: v(app-radius);
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;

                    @include min(xl) {
                        width: 270px;
                        padding: 0;
                    }

                    @include max(sm) {
                        width: 100%;
                        border-radius: v(app-radius);
                        padding: 0 4.8vw;
                    }
                }
            }
        }

        .columns-slider {
            display: flex;
            position: absolute;
            right: -13.889vw;
            transform: rotate3d(0, 0, 1, -15deg);
            backface-visibility: hidden;
            opacity: 0;
            transition: opacity 500ms v(ease-in-out-quad);

            &.reduced {
                .swiper-wrapper {
                    transition-duration: 1000ms !important;
                }
            }

            @include max(md) {
                width: 100%;
                justify-content: center;
                position: relative;
                right: 0;
                height: calc(100% / 3);
                overflow: hidden;
                transform: rotate(0);
                background-color: v(dark-grey);
            }

            @include max(sm) {
                width: fit-content;
                display: inline-flex;
            }

            .column {
                height: 40.903vw;
                width: 19.028vw;
                pointer-events: none;

                &.reverse {
                    transform: rotate3d(1, 0, 0, 180deg);

                    @include max(md) {
                        transform: rotateX(180deg) rotateZ(15deg);
                    }

                    .swiper-slide {
                        transform: rotate3d(1, 0, 0, -180deg);
                    }
                }

                &.swiper-container-initialized {
                    opacity: 1;
                }

                @include max(md) {
                    width: 25.651vw;
                    height: 55.208vw;
                    transform: rotate(-15deg);
                }

                @include max(sm) {
                    width: 33.867vw;
                    height: 72.533vw;
                }

                &:nth-of-type(2) {
                    margin: 0 2.431vw;

                    @include min(xl) {
                        margin: 0 35px;
                    }

                    @include max(md) {
                        margin: 0 4.948vw;
                    }

                    @include max(sm) {
                        margin: 0 6.267vw;
                    }
                }

                .swiper-wrapper {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    transition-timing-function: linear;
                    will-change: transform;
                }

                .swiper-slide {
                    @include min(xl) {
                        margin-top: 35px !important;
                    }
                    .phone-component {
                        height: 100%;
                        width: 100%;
                        border-color: v(whiteColor);

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}