.modal-wrapper {
    @include flexCenter();
    justify-content: center;
    pointer-events: none;
    position: fixed;
    z-index: 3;
    top: 0;
    height: 100%;
    width: 100%;

    &.visible {
        pointer-events: auto;

        .modal-overlay {
            opacity: 0.5;
        }

        .modal-component {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }

    .modal-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        background: v(blackColor);
        opacity: 0;
        z-index: 2;
        cursor: pointer;
        opacity: 0;
        transition: opacity 300ms ease;
    }

    .modal-component {
        position: relative;
        z-index: 3;
        width: 41.944vw;
        margin: auto;
        background-color: v(dark-grey);
        border-radius: v(app-radius);
        padding: 4.722vw 5vw 5vw 5vw;
        color: v(whiteColor);
        text-align: center;
        height: 36.042vw;
        transform: translate3d(0, 10vw, 0);
        opacity: 0;
        transition: opacity 400ms v(ease-in-out-quad) 100ms, height 600ms v(ease-in-out-quad) 100ms, transform 500ms v(ease-in-out-quad) 100ms;
        overflow: hidden;

        @include max(md) {
            width: calc(100% - 28.646vw);
            height: 67.578vw;
        }

        @include max(sm) {
            width: calc(100% - 12.8vw);
            padding: 6.400vw;
            height: 133.333vw;
        }

        &.small {
            height: 30.139vw;

            @include max(md) {
                height: 56.510vw;
            }

            @include max(sm) {
                height: 127.467vw;
            }
        }

        .modal-close {
            cursor: pointer;
            position: absolute;
            top: 1.806vw;
            right: 1.944vw;

            @include max(md) {
                top: 3.255vw;
                right: 3.255vw;
            }

            @include max(sm) {
                top: 7.200vw;
                right: 6.667vw;
            }
        }
    }

    .step {
        position: absolute;
        opacity: 0;
        top: 50%;
        left: 0;
        right: 0;
        margin: auto;
        transition: opacity 600ms v(ease-in-out-quad), transform 600ms v(ease-in-out-quad);
        transform: translate3d(-100%, -50%, 0);

        &.step-2 {
            transform: translate3d(100%, -50%, 0);

            .title {
                @include max(sm) {
                    font-size: 12.800vw;
                    line-height: 15.467vw;
                }
            }

            .form .button-component {
                margin-top: 2.292vw;
                width: 19.861vw;

                @include max(md) {
                    width: 37.240vw;
                    margin-top: 4.036vw;
                }

                @include max(sm) {
                    width: 100%;
                    margin-top: 12vw;
                }
            }
        }

        &.visible {
            transform: translate3d(0, -50%, 0);
            opacity: 1;
        }
    }

    .modal-content {
        position: relative;
        width: 100%;
        height: 100%;

        &.no-transition {
            .step {
                transition-duration: 0ms;
            }
        }

        @include max(sm) {
            margin-top: 6.400vw;
        }

        .title {
            @include proximaBold(2.222vw, 3.333vw);

            @include min(xl) {
                font-size: 40px;
            }

            @include max(md) {
                font-size: 3.646vw;
                line-height: 6.250vw;
            }

            @include max(sm) {
                font-size: 6.400vw;
                line-height: 9.600vw;
            }
        }

        .description {
            @include proximaRegular(1.389vw, 2.083vw);
            margin-top: 0.486vw;

            @include max(md) {
                font-size: 2.604vw;
                line-height: 4.167vw;
                margin-top: 0.781vw;
            }

            @include max(sm) {
                font-size: 4.800vw;
                line-height: 7.200vw;
                margin-top: 3.467vw;
            }
        }

        form {
            margin-top: 2.778vw;

            @include max(md) {
                margin-top: 4.688vw;
            }

            @include max(sm) {
                margin-top: 18.667vw;
            }

            .input-component {
                background-color: v(blackColor);
                width: 100%;

                &:last-of-type {
                    margin-top: 1.667vw;

                    @include max(md) {
                        margin-top: 3.125vw;
                    }

                    @include max(sm) {
                        margin-top: 4.267vw;
                    }
                }
            }

            .button-component {
                margin-top: 1.667vw;
                width: 100%;

                @include max(md) {
                    margin-top: 3.125vw;
                }

                @include max(sm) {
                    margin-top: 4.267vw;
                }
            }
        }

        .socials {
            @include flexCenter();
            justify-content: center;
            margin-top: 2.847vw;
            width: 100%;

            @include max(md) {
                margin-top: 5.339vw;
            }

            @include max(sm) {
                margin-top: 8.533vw;
            }

            a {
                @include flexCenter();
                justify-content: center;
                width: 4.167vw;
                height: 4.167vw;
                background: v(blackColor);
                border-radius: 13px;

                @include max(md) {
                    width: 7.813vw;
                    height: 7.813vw;
                }

                @include max(sm) {
                    width: 16vw;
                    height: 16vw;
                }

                &:nth-of-type(2) {
                    margin: 0 3.542vw;

                    @include max(md) {
                        margin: 0 6.510vw;
                    }
                }

                img {
                    max-width: 1.667vw;
                    max-height: 1.597vw;

                    @include max(md) {
                        max-width: 3.906vw;
                        max-height: 3.125vw;
                    }

                    @include max(sm) {
                        max-width: 7.467vw;
                        max-height: 6.4vw;
                    }
                }
            }
        }
    }
}