.nav-component {
    position: fixed;
    top: 0;
    padding: 1.111vw 6.944vw;
    width: 100%;
    z-index: 2;
    pointer-events: none;
    transition: background-color 300ms ease;

    &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        transition: opacity 300ms ease;

        @include max(md) {
            box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.10);
            background-color: white;
        }
    }

    @include max(md) {
        padding: 2.963vw 5.926vw;
    }

    @include max(sm) {
        padding: 6vw 4.400vw;
    }

    .nav-content {
        @include flexCenter();
        justify-content: space-between;
        color: white;
        text-transform: uppercase;
        transition: color 300ms ease;
        position: relative;

        .white-theme & {
            color: v(black-color);
        }

        .left {
            @include flexCenter();
            @include geomanistBold(1.111vw, 1);
            letter-spacing: 1px;
            pointer-events: auto;

            @include max(md) {
                font-size: 2.083vw;
            }

            @include max(sm) {
                font-size: 3.733vw;
                line-height: 5.600vw;
            }

            a {
                @include flexCenter();
            }

            .logo {
                @include flexCenter();

                svg {
                    @include max(sm) {
                        width: 8.267vw;
                        height: 8.267vw;
                    }
                }
            }

            span {
                display: block;
            }

            .site-name {
                @include geomanistBold(1.667vw, 1.667vw);
                text-transform: initial;
                margin-left: 1.111vw;

                @include max(md) {
                    font-size: 2.963vw;
                    line-height: 2.963vw;
                    margin-left: 1.975vw;
                }

                @include max(sm) {
                    margin-left: 2.133vw;
                    font-size: 4.800vw;
                    line-height: 6.400vw;
                }
            }

            .beta-pill {
                @include geomanistBold(0.972vw, 1.250vw);
                border: 2px solid;
                transition: border-color 300ms ease;
                border-color: white;
                border-radius: 4px;
                padding: 0.347vw 0.625vw;
                margin-left: 0.972vw;

                @include max(md) {
                    font-size: 1.728vw;
                    line-height: 2.222vw;
                }

                @include max(sm) {
                    display: none;
                }
            }
        }

        .right {
            opacity: 0;
            pointer-events: none;
            transition: opacity 300ms v(ease-in-out-quad);

            &.visible {
                pointer-events: auto;
                opacity: 1;
            }

            .button-component {
                width: 9.583vw;
                transition: background-color 300ms v(ease-in-out-quad);
                background-color: v(brand-color);

                @include max(md) {
                    width: 17.284vw;
                    height: 6.914vw;
                }

                @include max(sm) {
                    width: 34.133vw;
                    height: 12.800vw;
                    border-radius: 10px;
                }
            }
        }
    }

    &.with-bg {
        &:before {
            opacity: 1;
        }
        .nav-content {
            color: black;

            .logo {
                svg g {
                    fill: v(brand-color)
                }
            }

            .beta-pill {
                color: v(brand-color);
                border-color: v(brand-color);
            }
        }
    }
}