.nav-component {
    position: fixed;
    top: 0;
    padding: 25px 100px;
    width: 100%;
    z-index: 4;

    @include max(md) {
		position: sticky;
        padding: 25px 50px;
		background: white;
		box-shadow: inset 0px -1px 0px #E7E7E7;
    }

    @include max(sm) {
        padding: 12px 24px;
    }

    .nav-content {
        @include flexCenter();
        justify-content: space-between;
        color: white;
        text-transform: uppercase;
        position: relative;

        .left {
            @include flexCenter();

            .logo-wrapper {
                @include flexCenter();

				&:hover {
					.logo img {
						transform: rotate3d(0, 0, 1, 180deg);
					}
				}

				.logo {
					width: 40px;

					@include min(xl) {
						width: 60px;
					}

					@include min(xxl) {
						width: 70px;
					}

					@include max(md) {
						width: 32px;
					}

					img {
						will-change: transform;
						transform: rotate3d(0, 0, 0, 0deg);
						transition: transform 400ms ease;
					}
				}

				.wordmark {
					margin-left: 16px;
					width: 180px;

					@include min(xl) {
						width: 220px;
					}

					@include min(xxl) {
						width: 280px;
						margin-left: 24px;
					}

					@include max(md) {
						width: 144px;
					}
				}

				img {
					width: 100%;
					height: auto;
					object-fit: contain;
				}
            }
        }

		.right {
			opacity: 0;
			transition: opacity 300ms ease;

			@include max(md) {
				opacity: 1;
			}

			&.visible {
				opacity: 1;
			}

			.store-button {
				@include min(xl) {
					max-width: 220px;
				}

				img {
					object-position: right;
				}
			}
		}
    }
}
