.nav-component {
    position: fixed;
    top: 0;
    padding: 25px 100px;
    width: 100%;
    z-index: 4;

    @include max(md) {
		position: sticky;
        padding: 25px 50px;
		background: white;
		box-shadow: inset 0px -1px 0px #E7E7E7;
    }

    @include max(sm) {
        padding: 12px 24px;
    }

    .nav-content {
        @include flexCenter();
        justify-content: space-between;
        color: white;
        text-transform: uppercase;
        position: relative;

        .left {
            @include flexCenter();

            .logo {
                @include flexCenter();
				max-width: 192px;

				@include min(xl) {
					max-width: 240px;
				}

				@include max(sm) {
					max-width: 184px;
				}

				svg {
					width: 100%;
					height: auto;
					object-fit: contain;
				}
            }
        }

		.right .store-button {
			@include min(xl) {
				max-width: 220px;
			}

			img {
				object-position: right;
			}
		}
    }
}
