.nav-component {
    position: fixed;
    top: 0;
    padding: 2.847vw 6.944vw 0 6.944vw;
    width: 100%;
    z-index: 2;
    pointer-events: none;

    @include max(md) {
        padding: 6.510vw 6.510vw 0 6.510vw;
    }

    @include max(sm) {
        padding: 8vw 6.400vw 0 6.400vw;
    }

    .nav-content {
        @include flexCenter();
        justify-content: space-between;
        color: white;
        text-transform: uppercase;

        .left {
            @include flexCenter();
            @include proximaBold(1.111vw, 1);
            letter-spacing: 1px;
            pointer-events: auto;

            @include max(md) {
                font-size: 2.083vw;
            }

            @include max(sm) {
                font-size: 3.733vw;
                line-height: 5.600vw;
            }

            a {
                @include flexCenter();
            }

            .logo {
                width: 1.111vw;
                height: 1.111vw;

                @include max(md) {
                    width: 2.083vw;
                    height: 2.083vw;
                }

                @include max(sm) {
                    width: 6.400vw;
                    height: 6.400vw;
                }

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            span {
                display: block;
                margin-left: 0.694vw;

                @include max(sm) {
                    margin-left: 2.133vw;
                }
            }
        }

        .right {
            opacity: 0;
            pointer-events: none;
            transition: opacity 300ms v(ease-in-out-quad);

            &.visible {
                pointer-events: auto;
                opacity: 1;
            }

            .button-component {
                width: 15.625vw;
                transition: background-color 300ms v(ease-in-out-quad);
                background-color: unset;

                @include min(xl) {
                    width: 280px;
                    height: 70px;
                    border-radius: 4px;
                }

                @include max(md) {
                    width: 25.786vw;
                }

                @include max(sm) {
                    width: 47.200vw;
                    height: 10.667vw;
                    font-size: 3.733vw;
                    line-height: 5.600vw;
                }
            }
        }
    }
}