.nav-component {
    position: fixed;
    top: 0;
    padding: 3.125vw 6.944vw;
    width: 100%;

    .nav-content {
        @include flexCenter();
        justify-content: space-between;
        color: white;
        text-transform: uppercase;

        .left {
            @include proximaRegular();
        }

        .right {
            opacity: 0;
        }
    }
}