.panorama-wrapper {
    .panorama-component {
        position: relative;
        height: 28.889vw;

        @include max(sm) {
            height: 59.733vw;
        }

        .landscape {
            height: 100%;
            position: relative;
            overflow: hidden;

            .left, .right {
                content: '';
                position: absolute;
                top: 0;
                width: calc(50% - (27.778vw / 2));
                height: 100%;
                left: 0;
                opacity: 0.7;
                background: v(blackColor);
                z-index: 1;

                @include max(md) {
                    width: 25%;
                }
            }

            .right {
                left: auto;
                right: 0;
            }

            img {
                width: 100%;
                height: 100%;
                transform: scale3d(1.1, 1.1, 1);
                transition: transform 500ms ease;
                object-fit: cover;
            }
        }

        .phone-component {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            top: 0;
            height: 100%;
            border-radius: 0;
        }
    }
}