.phone-component {
    width: 24.514vw;
    height: 52.222vw;
    border: 4px solid v(dark-grey);
    border-radius: 40px;
    overflow: hidden;
    z-index: 1;

    @include min(xl) {
        border-width: 6px;
        border-radius: 60px;
        max-width: 533px;
        max-height: 1136px;
    }

    @include max(md) {
        width: 41.406vw;
        height: 88.802vw;
    }

    @include max(sm) {
        width: 69.867vw;
        height: 149.867vw;
        border-radius: 25px;
        border-width: 3px;
    }

    &.white-border {
        border-color: v(white-color);
    }

    &.sm {
        width: 22.083vw;
        height: 47.014vw;

        @include min(xl) {
            max-width: 479px;
            max-height: 1020px;
        }

        @include max(md) {
            width: 41.406vw;
            height: 88.802vw;
        }

        @include max(sm) {
            width: 69.867vw;
            height: 149.867vw;
            border-radius: 25px;
        }
    }

    &.half {
        width: 27.778vw;
        border: none;

        @include max(md) {
            border: 0;
        }

        @include max(md) {
            width: 50%;
        }
    }

    .media {
        &.full {
            height: 100%;

            img, video {
                width: 100%;
                height: 100%;
            }

            video {
                object-fit: cover;
            }
        }
    }
}