.phone-component {
    width: 22.153vw;
    height: 47.222vw;
    border: 4px solid v(light-grey);
    border-radius: 32px;
    overflow: hidden;
    z-index: 1;

    @include min(xl) {
        width: 532px;
        height: 1130px;
        border-width: 6px;
        border-radius: 42px;
    }

    @include max(md) {
        width: 35.432vw;
        height: 75.556vw;
        border-radius: 29px;
    }

    @include max(sm) {
        width: 53.333vw;
        height: 113.867vw;
        border-radius: 20px;
        border-width: 3px;
    }

    &.white-border {
        border-color: v(white-color);
    }

    .media {
        &.full {
            height: 100%;

            img, video {
                width: 100%;
                height: 100%;
            }

            video {
                object-fit: cover;
            }
        }
    }
}