.phone-component {
    width: 24.514vw;
    height: 52.222vw;
    border: 4px solid v(dark-grey);
    border-radius: 40px;
    overflow: hidden;
    z-index: 1;

    @include min(xl) {
        border-width: 8px;
        border-radius: 60px;
    }

    @include max(md) {
        width: 41.406vw;
        height: 88.802vw;
    }

    @include max(sm) {
        width: 69.867vw;
        height: 149.867vw;
        border-radius: 25px;
    }

    &.white-border {
        border-color: v(whiteColor);
    }

    &.sm {
        width: 22.083vw;
        height: 47.014vw;

        @include max(md) {
            width: 41.406vw;
            height: 88.802vw;
        }

        @include max(sm) {
            width: 69.867vw;
            height: 149.867vw;
            border-radius: 25px;
        }
    }

    &.half {
        width: 27.778vw;
        border: none;

        @include max(md) {
            border: 3px solid v(whiteColor);
        }

        @include max(md) {
            width: 50%;
        }
    }

    .media {
        &.full {
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}