.phone-component {
    width: 347px;
    height: 704px;
    overflow: hidden;
    z-index: 1;
	position: relative;

    @include min(xl) {
		width: 400px;
		height: 830px;
    }

	@include max(lg) {
		width: 310px;
		height: 660px;
    }

    @include max(sm) {
        width: 223px;
        height: 452px;
    }

    .media {
		@include flexCenter();
		justify-content: center;

        &.full {
            height: 100%;

            img, video {
				width: calc(100% - 11.1405%);
				z-index: -1;
				border-radius: 20px;
				height: 95.5%;
            }

            video {
                object-fit: cover;
            }
        }
    }
}


.iphone-mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 347px;
    height: 704px;
	z-index: 3;
	pointer-events: none;
	user-select: none;

	@include min(xl) {
		width: 400px;
		height: 830px;
    }

	@include max(lg) {
		width: 310px;
		height: 660px;
    }

	@include max(sm) {
        width: 223px;
        height: 452px;
    }
}
