.phone-slider-component {
    margin-top: 5.208vw;

    @include max(sm) {
        margin-top: 13.333vw;
        @include flexCenter();
    }

    .phones-wrapper {
        @include max(sm) {
            width: calc(53.333vw + 13px);
            height: 113.867vw;
            margin: 0 4vw;
        }
    }

    .slider-controls {
        display: none;
        border-radius: 50%;
        min-width: 12.800vw;
        width: 12.800vw;
        height: 12.800vw;
        outline: none;
        background-color: rgba(255, 255, 255, 0.2);
        position: relative;
        z-index: 1;

        &.dark {
            background-color: white;
            border: 1px solid #E7E7E7;
        }

        @include max(sm) {
            @include flexCenter();
            justify-content: center;
        }

        svg {
            width: 4.533vw;
            height: 3.733vw;
        }

        &.prev {
            transform: rotate(-180deg);
        }
    }

    .swiper-wrapper {
        @include flexCenter();
        justify-content: space-between;
        position: relative;

        @include max(sm) {
            justify-content: unset;
        }

        .swiper-slide {
            width: auto;
            display: inline-flex;
            height: 100%;

            &:nth-child(2) {
                margin: 0 3.472vw;
                
                @include max(sm) {
                    margin: 0;
                }
            }

            &:not(.swiper-slide-active) {
                @include max(sm) {
                    opacity: 0.2;
                }
            }

            @include max(sm) {
                flex-shrink: 0;
                transform: translate3d(0, 0, 0);
                opacity: 1;
                transition: opacity 300ms ease;
            }
        }

        .phone-component {
            position: relative;

            @for $i from 1 through 3 {
                &:nth-of-type(#{$i}) {
                    .lazy-placeholder {
                        transition-delay: $i * 100ms;
                    }
                }
            }

            &:nth-of-type(2) {
                margin: 0 2.222vw;

                @include max(md) {
                    margin: 0 2.734vw;
                }

                @include max(sm) {
                    margin: 0 8.533vw;
                }
            }

            .video-wrapper {
                position: absolute;
                top:0;
                width: 100%;
                height: 35.6%;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translate3d(0, 0, 0);
                }

                video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}