.phone-component {
    height: 58.403vw;
    width: 27.222vw;
    border: 5px solid v(dark-grey);
    border-radius: 40px;
    overflow: hidden;
    z-index: 1;

    @include max(md) {
        width: 41.406vw;
        height: 88.802vw;
    }

    @include max(sm) {
        width: 69.867vw;
        height: 149.867vw;
        border-radius: 25px;
    }

    &.white-border {
        border-color: v(whiteColor);
    }

    &.sm {
        width: 21.806vw;
        height: 46.736vw;

        @include max(md) {
            width: 41.406vw;
            height: 88.802vw;
        }

        @include max(sm) {
            width: 69.867vw;
            height: 149.867vw;
            border-radius: 25px;
        }
    }

    &.half {
        width: 27.778vw;

        @include max(md) {
            border: 3px solid v(whiteColor);
        }

        @include max(md) {
            width: 50%;
        }
    }

    .media {
        &.full {
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}