.section-header-component {
    opacity: 0;
    transition: opacity 350ms v(ease-in-out-quart);

    &.in-view {
        opacity: 1;
    }

    .section-header-content {
        max-width: 56.667vw;
        margin: auto;
        text-align: center;

        @include max(md) {
            max-width: 89.063vw;
        }

        .heading {
            @include proximaBold(1.111vw, 1.667vw);
            letter-spacing: 1px;
            color: v(white);
            text-transform: uppercase;

            @include max(md) {
                font-size: 2.083vw;
                line-height: 3.125vw;
            }
        }

        .title {
            @include proximaExtraBold(6.250vw,  6.250vw);
            margin-top: 2.083vw;
            color: v(white);

            @include max(md) {
                margin-top: 2.474vw;
                font-size: 10.417vw;
                line-height: 10.417vw;
            }

            h2 {
                &.has-gradient {
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    transition: background-image 2500ms v(ease-in-out-quart);
                }
            }
        }

        .baseline {
            @include proximaRegular(1.806vw, 2.778vw);
            width: calc(100% - 7.222vw);
            margin: auto;
            margin-top: 1.458vw;
            color: v(white);

            @include max(md) {
                margin-top: 1.693vw;
                font-size: 2.865vw;
                line-height: 4.167vw;
            }
        }
    }
}