.section-header-component {
    opacity: 0;
    transition: opacity 350ms v(ease-in-out-quart);

    &.in-view {
        opacity: 1;
    }

    &.white-theme {
        .section-header-content {
            .title, .baseline {
                color: white;
            }
        }
    }

    .section-header-content {
        max-width: 34.722vw;
        text-align: left;

        &.lg {
            max-width: 41.944vw;

            @include max(md) {
                max-width: 100%;
            }
        }

        @include max(md) {
            max-width: 89.063vw;
        }

        @include max(md) {
            max-width: 100%;
        }

        .title {
            color: v(brand-color);
        }

        .baseline {
            margin-top: 1.458vw;
            color: v(black-color);

            @include max(md) {
                margin-top: 1.693vw;
            }

            @include max(sm) {
                margin-top: 2.667vw;
            }
        }
    }
}