.section-header-component {
    &.white-theme {
        .section-header-content {
            color: white;
            .title span, .baseline {
                color: white;
                background: none;
                -webkit-text-fill-color: unset;
                -webkit-background-clip: unset;
            }
        }
    }

    .section-header-content {
        max-width: 34.722vw;
        text-align: left;

        &.lg {
            max-width: 41.944vw;

            @include max(md) {
                max-width: 100%;
            }
        }

        @include max(md) {
            max-width: 74.568vw;
        }

        @include max(sm) {
            max-width: 100%;
        }

        .title {
            span {
                background: v(app-gradient-right);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
            }
        }

        .baseline {
            margin-top: 0.347vw;
            color: v(black-color);

            @include max(md) {
                margin-top: 0;
            }
        }
    }
}