.simple-slider-wrapper {
    height: 27.778vw;
    position: relative;

    .simple-slider-component {
        height: 100%;
        padding: 1.111vw;
        border-radius: v(app-radius);
        position: relative;
        overflow: hidden;

        .background {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
            transition: opacity 300ms v(ease-in-out-quart);
            filter: blur(50px);
            opacity: 0;

            &.visible {
                opacity: 1;
            }
        }

        .swiper-wrapper {
            display: inline-flex;
            overflow: hidden;
            height: 25.556vw;

            .swiper-slide {
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: v(app-radius);
                }
            }
        }
    }
}
