.testimonial-component {
    width: 100%;
    color: v(white-color);
    margin-top: 5.903vw;
    cursor: initial;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 1.389vw 2.083vw;
    max-width: 34.583vw;

    @include max(sm) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 100%;
        cursor: pointer;
        padding: 6.400vw;
        border-radius: 16px;
    }

    .testimonial-footer {
        @include flexCenter();
        margin-top: 1.597vw;

        @include min(xl) {
            margin-top: 25px;
        }

        @include max(sm) {
            margin-top: 5.867vw;
        }

        .avatar {
            width: 3.889vw;
            height: 3.889vw;
            border-radius: 50%;
            overflow: hidden;

            @include min(xl) {
                width: 80px;
                height: 80px;
            }

            @include max(md) {
                width: 7.292vw;
                height: 7.292vw;
            }

            @include max(sm) {
                width: 14.933vw;
                height: 14.933vw;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .user-infos {
            margin-left: 1.111vw;

            @include min(xl) {
                margin-left: 16px;
            }

            @include max(md) {
                margin-left: 2.083vw;
            }

            @include max(sm) {
                margin-left: 4.267vw;
            }

            span {
                display: block;
                text-transform: capitalize;
            }

            .role {
                @include geomanistBold(1.111vw, 1.667vw);

                @include min(xl) {
                    font-size: 18px;
                }

                @include max(md) {
                    font-size: 2.083vw;
                    line-height: 3.125vw;
                }

                @include max(sm) {
                    font-size: 3.733vw;
                    line-height: 5.600vw;
                }
            }

            .name {
                margin-top: 3px;
                @include geomanistRegular(1.111vw, 1.667vw);

                @include max(md) {
                    font-size: 2.083vw;
                    line-height: 3.125vw;
                }

                @include max(sm) {
                    font-size: 3.733vw;
                    line-height: 5.600vw;
                }
            }
        }
    }
}