.testimonial-component {
    width: 100%;
    max-width: 34.722vw;
    color: v(whiteColor);
    margin-top: 5.903vw;
    cursor: initial;

    @include min(xl) {
        margin-top: 85px;
    }

    @include min(md) {
        width: 100% !important;
        margin-right: 0 !important;
    }

    @include max(md) {
        max-width: 100%;
        cursor: pointer;
    }

    .testimonial-content {
        @include proximaRegular(1.806vw, 2.778vw);

        @include min(xl) {
            font-size: 30px;
            line-height: 45px;
        }

        @include max(md) {
            font-size: 2.865vw;
            line-height: 4.167vw;
        }

        @include max(sm) {
            font-size: 4.800vw;
            line-height: 7.200vw;
        }
    }

    .testimonial-footer {
        @include flexCenter();
        margin-top: 1.597vw;

        @include min(xl) {
            margin-top: 25px;
        }

        @include max(md) {
            margin-top: 4.818vw;
        }

        @include max(sm) {
            margin-top: 18.400vw;
        }

        .avatar {
            width: 3.889vw;
            height: 3.889vw;
            border-radius: 50%;
            overflow: hidden;

            @include min(xl) {
                width: 80px;
                height: 80px;
            }

            @include max(md) {
                width: 7.292vw;
                height: 7.292vw;
            }

            @include max(sm) {
                width: 14.933vw;
                height: 14.933vw;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .user-infos {
            margin-left: 1.111vw;

            @include min(xl) {
                margin-left: 16px;
            }

            @include max(md) {
                margin-left: 2.083vw;
            }

            @include max(sm) {
                margin-left: 4.267vw;
            }

            span {
                display: block;
                text-transform: capitalize;
            }

            .role {
                @include proximaBold(1.111vw, 1.667vw);

                @include min(xl) {
                    font-size: 18px;
                }

                @include max(md) {
                    font-size: 2.083vw;
                    line-height: 3.125vw;
                }

                @include max(sm) {
                    font-size: 3.733vw;
                    line-height: 5.600vw;
                }
            }

            .name {
                margin-top: 3px;
                @include proximaRegular(1.111vw, 1.667vw);

                @include max(md) {
                    font-size: 2.083vw;
                    line-height: 3.125vw;
                }

                @include max(sm) {
                    font-size: 3.733vw;
                    line-height: 5.600vw;
                }
            }
        }
    }
}