.timer-slider-wrapper {
    @include flexCenter();
    justify-content: space-between;

	@include max(md) {
		flex-direction: column;
	}

    .timer-slider-component {
		width: 347px;

        @include min(xl) {
            width: 532px;
        }

        @include max(md) {
            width: 310px;
        }

        @include max(sm) {
            width: 223px;
        }

        .swiper-wrapper {
            @include flexCenter();
            position: relative;
            height: 704px;

            @include min(xl) {
                height: 830px;
            }

            @include max(md) {
                width: 100%;
            }

            @include max(sm) {
                height: 452px;
            }

            .swiper-slide {
                width: 100%;
                flex-shrink: 0;

                .phone-component {
                    -webkit-mask-image: -webkit-radial-gradient(white, black); // Fix border radius overflow not hidden
                }
            }
        }
    }

	.thumb-slider {
		@include max(md) {
			width: 100%;
        }
	}

    .timer-slider-navigation {
		margin-left: 155px;

		@include between(md, classic) {
			margin-left: 50px;
		}

        @include max(md) {
            display: flex;
            position: relative;
            margin-top: 32px;
            margin-left: auto;
			margin-right: auto;
            padding: 3px 0;
        }

        .slide-infos {
            @include flexCenter();
			border-radius: 16px;
			padding: 32px;
            cursor: pointer;
			background-color: white;
			border: 2px solid #F5F5F5;
			transition: background-color 300ms ease;
			outline: none;

            @include iosTapTransparent();

            @include max(md) {
                margin-top: 0;
				min-width: 80%;
            }

			@include max(sm) {
				min-width: 100%;
				padding: 32px 16px;
            }

            &:not(:first-child) {
                margin-top: 32px;

                @include min(xl) {
                    margin-top: 40px;
                }

                @include max(md) {
                    margin-top: 0;
                }
            }

			.progress-line-wrapper {
				width: 4px;
				height: 56px;
				position: relative;
				border-radius: 4px;
				overflow: hidden;
				opacity: 0;
				transition: opacity 300ms ease;
				-webkit-mask-image: -webkit-radial-gradient(white, black); // Fix border radius overflow not hidden

				.line, .progress-line {
					overflow: visible;
					position: relative;
					width: 100%;
					height: 100%;
				}

				.line {
					background: white;
				}

				.progress-line {
					background-color: v(slide-active-color);
					z-index: 1;
					animation: none;
					transform: scale3d(1, 0, 1);
					animation: none;
					transform-origin: top;
					position: absolute;
					top: 0;

					@include min(xl) {
						width: 80px;
						height: 80px;
					}
				}
			}

            &.active {
				background-color: v(slide-bg-color);
				border-color: v(slide-bg-color);

				.progress-line-wrapper {
					opacity: 1;

					.progress-line {
						animation: fillLine 5500ms linear;

						@keyframes fillLine {
							100% {
								transform: scale3d(1, 1, 1);
							}
						}
					}
				}

                .content {
					transform: translate3d(16px, 0, 0);
                    @include max(md) {
                        opacity: 1;
                    }

					.header3 {
						color: v(slide-active-color);
					}
                }
            }

            .content {
				transform: translate3d(0, 0, 0);
				transition: transform 300ms ease;

                span {
                    display: block;
					transition: color 300ms ease;

                    &:last-child {
                        margin-top: 10px;

						@include max(sm) {
							margin-top: 6px;
						}
                    }
                }
            }
        }
    }
}
