.timer-slider-wrapper {
    @include flexCenter();

    @include max(md) {
        flex-direction: column;
    }

    .timer-slider-component {
        width: 50%;

        @include max(md) {
            width: 100%;
        }

        .swiper-wrapper {
            display: flex;
            position: relative;

            .swiper-slide {
                width: 100%;
                height: 100%;
                flex-shrink: 0;
            }
        }
    }

    .timer-slider-navigation {
        @include max(md) {
            display: flex;
            position: relative;
            width: 100%;
            margin-top: 30px;
        }

        .slide-infos {
            @include flexCenter();
            margin-top: 20px;

            @include max(md) {
                margin-top: 0;
                &:not(:first-child) {
                    margin-left: 20px;
                }
            }

            .icon {
                position: relative;
                display: inline-flex;
                border: 1px solid #E7E7E7;
                border-radius: 50%;
                transition: border-color 500ms ease;
            }

            .icon-wrapper {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                width: 100%;

                span {
                    display: inherit;
                }

                svg g {
                    fill: black;
                    transition: fill 500ms ease;
                }
            }

            &.active {
                .progress-ring .progress-ring__circle {
                    fill: #F24875;
                }
                .icon {
                    border-color: transparent;
                    svg g {
                        fill: white;
                    }
                }
                .content {
                    @include max(md) {
                        opacity: 1;
                    }
                }
            }

            .progress-ring {
                width: 60px;
                height: 60px;
                overflow: visible;

                .progress-ring__circle {
                    transition: stroke-dashoffset 200ms ease, fill 500ms ease;
                    transform: rotate(-90deg);
                    transform-origin: 50% 50%;
                    fill: white;
                }
            }

            .content {
                margin-left: 20px;

                @include max(md) {
                    opacity: 0;
                    position: absolute;
                    bottom: -50px;
                    left: 0;
                    margin: 0;
                }

                span {
                    display: block;
                }
            }
        }
    }
}