.timer-slider-wrapper {
    @include flexCenter();
    justify-content: space-between;

    .timer-slider-component {
        width: 22.153vw;

        @include min(xl) {
            width: 532px;
        }

        @include max(md) {
            width: 35.432vw;
        }

        @include max(sm) {
            width: 53.333vw;
        }

        .swiper-wrapper {
            display: flex;
            position: relative;
            height: 47.222vw;

            @include min(xl) {
                height: 1130px;
            }

            @include max(md) {
                width: 100%;
                height: 75.556vw;
            }

            @include max(sm) {
                height: 113.867vw;
            }

            .swiper-slide {
                width: 100%;
                height: 100%;
                flex-shrink: 0;

                .phone-component {
                    width: 100%;
                    height: 100%;
                    -webkit-mask-image: -webkit-radial-gradient(white, black); // Fix border radius overflow not hidden
                }
            }
        }
    }

    .timer-slider-navigation {
        @include max(md) {
            margin-left: 6.914vw;
        }

        @include max(sm) {
            display: flex;
            position: relative;
            width: 100%;
            margin-top: calc(13.333vw - 3px);
            margin-left: 0;
            padding: 3px 0 3px 6.667vw;
            overflow-x: scroll;
            transform: translate3d(0, 0, 0);
            @include noScrollBar();
        }

        .slide-infos {
            @include flexCenter();
            margin-top: 1.389vw;
            cursor: pointer;

            @include iosTapTransparent();

            @include max(sm) {
                margin-top: 0;
            }

            &:not(:first-child) {
                margin-top: 2.222vw;

                @include min(xl) {
                    margin-top: 40px;
                }

                @include max(md) {
                    margin-top: 4.938vw;
                }

                @include max(sm) {
                    margin-top: 0;
                    margin-left: 4.267vw;
                }
            }

            &:last-child {
                @include max(sm) {
                    padding-right: 6.667vw;
                }
            }

            .icon {
                position: relative;
                display: inline-flex;
                border: 1px solid #E7E7E7;
                border-radius: 50%;
                transition: border-color 200ms ease;
            }

            .icon-wrapper {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                width: 100%;

                span {
                    display: inherit;
                }

                svg {
                    width: 32px;
                    height: 32px;

                    @include min (xl) {
                        width: 40px;
                        height: 40px;
                    }
                }

                svg g, svg g path:not(#grid-rectangle) {
                    fill: black;
                    transition: fill 100ms ease;
                }
            }

            .progress-ring {
                width: 64px;
                height: 64px;
                overflow: visible;
                position: relative;
                z-index: -1;
                transform: translate3d(0, 0, 0);
                stroke-dashoffset: 250;
                animation: none;

                &.animate {
                    .progress-ring__circle {
                        animation: fillCircle 5500ms linear;

                        @keyframes fillCircle {
                            100% {
                                stroke-dashoffset: 40;
                            }
                        }
                    }
                }

                @include min(xl) {
                    width: 80px;
                    height: 80px;
                }

                .progress-ring__circle {
                    transform: rotate(-90deg);
                    transform-origin: 50% 50%;
                    stroke-dashoffset: 250;
                    animation: none;
                }

                defs stop {
                    transition: stop-color 300ms ease;
                    stop-color: white;
                }
            }

            &.active {
                .progress-ring__circle {
                    stroke: black;
                }
                .progress-ring defs stop {
                    &:first-child {
                        stop-color: rgb(253, 60, 8);
                    }

                    &:last-child {
                        stop-color: rgb(240, 74, 139);
                    }
                }
                .icon {
                    border-color: transparent;

                    .icon-wrapper {
                        svg g, svg g path:not(#grid-rectangle) {
                            fill: white;
                        }
                    }
                }

                .content {
                    @include max(md) {
                        opacity: 1;
                    }
                }
            }

            .content {
                margin-left: 1.389vw;

                @include max(md) {
                    margin-left: 1.975vw;
                }

                @include max(sm) {
                    display: none;
                }

                span {
                    display: block;

                    &:last-child {
                        margin-top: 0.903vw;

                        @include min(xl) {
                            margin-top: 12px;
                        }
                    }
                }
            }
        }
    }

    .mobile-active-infos {
        display: none;

        @include max(sm) {
            display: block;
            width: 100%;
            margin-top: 6.667vw;
            min-height: 19.200vw;
            padding: 0 6.667vw;

            span {
                display: block;

                &:last-child {
                    margin-top: 1.600vw;
                }
            }
        }
    }
}