.timer-slider-wrapper {
    @include flexCenter();
    justify-content: space-between;

    @include max(md) {
        flex-direction: column;
        margin-left: 1px;
    }

    .timer-slider-component {
        width: 22.153vw;

        @include max(sm) {
            width: 53.333vw;
        }

        .swiper-wrapper {
            display: flex;
            position: relative;
            height: 47.222vw;

            @include max(sm) {
                width: 100%;
                height: 113.867vw;
            }

            .swiper-slide {
                width: 100%;
                height: 100%;
                flex-shrink: 0;

                .phone-component {
                    width: 100%;
                    height: 100%;
                    -webkit-mask-image: -webkit-radial-gradient(white, black); // Fix border radius overflow not hidden
                }
            }
        }
    }

    .timer-slider-navigation {
        @include max(sm) {
            display: flex;
            position: relative;
            width: 100%;
            margin-top: 13.333vw;
        }

        .slide-infos {
            @include flexCenter();
            margin-top: 20px;

            &:not(:first-child) {
                margin-top: 2.222vw;
            }

            @include max(md) {
                margin-top: 0;

                &:not(:first-child) {
                    margin-left: 6.400vw;
                }
            }

            .icon {
                position: relative;
                display: inline-flex;
                border: 1px solid #E7E7E7;
                border-radius: 50%;
                transition: border-color 500ms ease;
            }

            .icon-wrapper {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                width: 100%;

                span {
                    display: inherit;
                }

                svg g {
                    fill: black;
                    transition: fill 100ms ease;
                }
            }

            .progress-ring {
                width: 4.444vw;
                height: 4.444vw;
                overflow: visible;

                @include min(xl) {
                    width: 80px;
                    height: 80px;
                }

                @include max(sm) {
                    width: 17.067vw;
                    height: 17.067vw;
                }

                .progress-ring__circle {
                    transition: stroke-dashoffset 200ms ease;
                    transform: rotate(-90deg);
                    transform-origin: 50% 50%;
                }

                defs stop {
                    transition: stop-color 300ms ease;
                    stop-color: white;
                }
            }

            &.active {
                .progress-ring__circle {
                    stroke: black;
                }
                .progress-ring defs stop {
                    &:first-child {
                        stop-color: rgb(253, 60, 8);
                    }

                    &:last-child {
                        stop-color: rgb(240, 74, 139);
                    }
                }
                .icon {
                    border-color: transparent;
                    
                    .icon-wrapper {
                        svg g {
                            fill: white;
                        }
                    }
                }

                .content {
                    @include max(md) {
                        opacity: 1;
                    }
                }
            }

            .content {
                margin-left: 1.389vw;

                @include max(sm) {
                    display: none;
                }

                span {
                    display: block;

                    &:last-child {
                        margin-top: 0.903vw;
                    }
                }
            }
        }
    }

    .mobile-active-infos {
        display: none; 

        @include max(sm) {
            display: block;
            width: 100%;
            margin-top: 7.200vw;
            min-height: 19.200vw;

            span {
                display: block;

                &:last-child {
                    margin-top: 1.600vw;
                }
            }
        }
    }
}