.waiting-list-confirmation-component {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: white;
    z-index: 1;
    box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.10), inset 0 -1px 0 0 rgba(0,0,0,0.10);
    transform: translate3d(0, 100%, 0);
    transition: transform 300ms ease;

    &.visible {
        transform: translate3d(0, 0, 0);
    }

    .waiting-list-confirmation-wrapper {
        padding: 2.778vw 0;
        text-align: center;

        @include min(xl) {
            padding: 56px 0;
        }

        @include max(md) {
            position: relative;
            padding: 4.938vw 0;
        }

        @include max(sm) {
            padding: 13.333vw 6.667vw;
        }

        .content {
            margin: auto;
            max-width: 35.139vw;

            @include max(md) {
                max-width: 62.346vw;
            }

            @include max(sm) {
                max-width: 100%;
            }

            .header2 {
                background: v(app-gradient-right);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                display: inline-block;
            }

            p {
                margin-top: 0.347vw;

                @include max(md) {
                    margin-top: 0.741vw;
                }

                @include max(sm) {
                    margin-top: 2.667vw;
                }
            }
        }

        .action {
            text-align: center;
            margin: 1.736vw auto 0 auto;

            @include max(md) {
                width: 100%;
                margin-top: 3.704vw;
                justify-content: space-between;
            }

            @include max(sm) {
                margin-top: 4.267vw;
            }

            .button-component {
                @include flexCenter();
                justify-content: center;
                margin: auto;
                border: 1px solid #E7E7E7;

                @include min(xl) {
                    width: 340px;
                }

                @include max(md) {
                    min-width: 41.975vw;
                }
                @include max(sm) {
                    width: 100%;
                }
            }

            .close {
                position: absolute;
                top: 2.222vw;
                right: 2.222vw;
                @include flexCenter();
                margin-left: 1.389vw;
                border: 2px solid #E7E7E7;
                justify-content: center;
                border-radius: 50%;
                width: 3.889vw;
                height: 3.889vw;
                cursor: pointer;
                background-color: white;

                &:hover {
                    .classic-svg {
                        opacity: 0;
                    }
                    .gradient-svg {
                        opacity: 1;
                    }
                }

                svg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: opacity 300ms ease;
                }

                @include min(xl) {
                    width: 2.889vw;
                    height: 2.889vw;
                }

                @include max(md) {
                    width: 6.914vw;
                    height: 6.914vw;
                    top: 2.840vw;
                    right: 5.926vw;
                }

                @include max(sm) {
                    width: 12.8vw;
                    height: 12.8vw;
                    top: 4vw;
                    right: 4vw;
                }
            }
        }
    }
}