.waiting-list-confirmation-component {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: white;
    z-index: 1;
    box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.10), inset 0 -1px 0 0 rgba(0,0,0,0.10);
    transform: translate3d(0, 100%, 0);
    transition: transform 300ms ease;

    &.visible {
        transform: translate3d(0, 0, 0);
    }

    .waiting-list-confirmation-wrapper {
        @include flexCenter();
        justify-content: space-between;
        padding: 1.944vw 6.944vw;

        @include max(sm) {
            position: relative;
            flex-direction: column;
            padding: 13.333vw 6.667vw;
        }

        .left {
            max-width: 20.278vw;

            @include max(sm) {
                max-width: 100%;
            }

            p {
                margin-top: 0.694vw;

                span {
                    @include geomanistBold(1.111vw, 1.667vw);

                    @include max(sm) {
                        font-size: 3.733vw;
                        line-height: 5.600vw;
                    }
                }
            }
        }

        .actions {
            display: flex;

            @include max(sm) {
                width: 100%;
                margin-top: 5.333vw;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            .button-component {
                @include flexCenter();
                justify-content: center;
                border: 1px solid #E7E7E7;

                @include max(sm) {
                    width: calc(50% - 2.133vw);
                }

                &:first-child {
                    @include max(sm) {
                        width: 100%;
                    }
                }

                &:not(:first-child) {
                    margin-left: 1.389vw;

                    @include max(sm) {
                        margin-top: 4.267vw;
                        margin-left: 0;
                    }

                    img {
                        width: 1.667vw;
                        height: 1.667vw;

                        @include max(sm) {
                            width: 6.400vw;
                            height: 6.400vw;
                        }
                    }
                    span {
                        margin-left: 1.736vw;
                        position: relative;
                        top: 2px;
                        color: black;

                        @include max(sm) {
                            margin-left: 4vw;
                        }
                    }
                }
            }

            .close {
                @include flexCenter();
                margin-left: 1.389vw;
                border: 1px solid #E7E7E7;
                justify-content: center;
                border-radius: 50%;
                width: 3.889vw;
                height: 3.889vw;
                cursor: pointer;

                @include max(sm) {
                    position: absolute;
                    top: 6.667vw;
                    right: 6.667vw;
                    border: none;
                }
            }
        }
    }
}